<p>There is the excellently accurate sentence attributed to Tom Cargill that goes:</p>
<blockquote>
    The first 90% of the code accounts for the first 90% of the development time. The remaining
    10% of the code accounts for the other 90% of the development time.
</blockquote>

<p>
    This (fairly humorous) statement is a dig at all those projects that are
    <a href="http://www.3drealms.com/duke4/" target="_blank">developed and that overrun</a>,
    but with a more than significant amount of truth in it. There can be a number of reasons why the
    project may not appear on time. Often, it's because someone is trying really hard to avoid accepting
    the fact that the <a href="http://en.wikipedia.org/wiki/Project_triangle" target="_blank">Project Triangle</a>
    exists for their solution. The triangle states that there are
    always three options: Do it Fast, Do it Cheap & Do it Good - but of the three options, you can only
    have two. You as project manager have to negotiate with your stakeholders, which of the three are the
    two most important ones - because there is flying-pig chance that you'll be able to get all three of
    them. They aren't mutually exclusive - but achieving all three is certainly something that is seldom
    heard of for a project.
</p>

<p>
    I believe these two things are linked. I think that projects overrun because the project early on was
    "Do it fast & do it cheap", but near the end and as people start to inspect the system, people (whether
    it be the Stakeholders, End users or development team) decide that they need to do it well at the
    sacrifice of doing it fast. This could be argued as bad project management - but in reality, it's
    bad Stakeholders. I believe they were <strong>correct</strong> to concentrate on quality However, they were grossly
    wrong to have considered leaving it as the third priority in the first place - it should have always
    been first! Take your pick as to which of the other two is important to you, but unless your project
    is technically fantastic and the attention to detail is there - then you might not have bothered doing
    it at all!
</p>

<p>
    <a href="http://www.codinghorror.com/" target="_blank">Jeff Atwood</a> has eluded to this in the past in response to comments that Stack Overflow would be an easy
    system to build. He implies that yes, while the functionality would be really simple to replicate,
    all the little details would be missing, all the little improvements for both technical speed boosts
    / efficiency savings and for ascetics and intuitiveness for the user. You can spend your time doing
    90% of Stack Overflow in 1 week, but then you'll spend the remaining 90% of time faffing with the
    little details that will make your site stand out.
</p>

<p>
    These little things can totally ruin your project / website / company, if you do not spend the time
    bowing before them in homage. There are plenty of website's out there which don't do justice to
    their potential. Websites that for some reason, got to the 90% of the way into their project and
    implement 90% of the features and functions - but then were put off by the long hard slog of the
    home straight which is the last 90%. The details beat them into submission! I'm not saying you
    have to be a designer to produce a good looking site, (it helps and I'd recommend that people get
    someone on board who specialises in functional website UI design), but if you don't set your sights
    too high, then patience and an understanding of CSS will normally do. If you spend this time sorting
    out all the little things (the font size, the position of your error messages, your link positioning
    etc), your project will find its bounce-rate significantly reduced (a good thing!) and the general
    happiness of frequent users will be improved as they don't have to work as hard to get the same
    amount of work done as your system is more intuitive.
</p>

<p>
    <strong>Strive for perfection, excellence will be tolerated</strong>. If you are passionate about your project and
    you feel that you want to produce the best "whatever" in the world - then make sure you spend your
    time on the details! It's sometimes a long hard slog, but it is invariably worth it in the end.
</p>