@{
    ViewData["Title"] = "CV";
    Layout = "~/Views/Shared/Layouts/_ContentLayout.cshtml";
    ViewData["Description"] = "Alex Holt. That's me. Lots of little bits of information about me. Who knew?";
    ViewData["Canonical"] = Url.Action("Index");
    ViewBag.BodyClasses = "CV";
}

@section BottomOfHead {
}

<div id="cv">
    <header>
        <h1>Alex Holt</h1>
        <h2>Solutions Architect &amp; .NET Developer</h2>

        <ul class="links">
            <li><i class="fa-solid fa-location-dot"></i> Huddersfield</li>
            <li><a href="https://twitter.com/amadiere" target="_blank" title="Twitter"><i class="fa-brands fa-twitter"></i> Twitter</a></li>
            <li><a href="https://stackoverflow.com/users/7828/amadiere" target="_blank" title="Stack Overflow"><i class="fa-brands fa-stack-overflow"></i> Stack Overflow</a></li>
            <li><a href="https://github.com/amadiere" target="_blank"><i class="fa-brands fa-github"></i> Github</a></li>
            <li><a href="https://www.linkedin.com/in/alex-holt-5b2729aa/" target="_blank" title="LinkedIn"><i class="fa-brands fa-linkedin"></i> LinkedIn</a></li>
        </ul>

        <blockquote>
            <p>
                I like to think I'm a strong technical &amp; pragmatic problem solver, capable of both taking large complex problems and breaking them down into smaller pieces, as well
                as wading through code &amp; finding misbehaving methods. I'm an approachable and informal with a good sense of humour, capable of leading &amp; taking part in highly technical
                discussions, as well as communicating with non-technical stakeholders and management.
            </p>
            <p>
                At heart, I'm a .NET developer and adore rolling up my sleeves and getting stuck into solving problems with C# and .NET, and in recent years, Microsoft Azure cloud services.
                But that has not stopped me leading, taking part in and enjoying a wealth of client-side projects over the years, from implementing W3C Accessibility guidelines to designing
                and building HTML/CSS pages to entire sites built in Angular &amp; TypeScript.
            </p>
        </blockquote>
    </header>

    <section id="work-history">
        <div class="position">
            <div class="company">
                <h2>WeBuyAnyCar.com</h2>
                <p>Over 7 years &amp; counting</p>
                <ul class="skills">
                    <li>C#</li>
                    <li>Microsoft Azure</li>
                    <li>.NET (Core-6)</li>
                    <li>.NET Framework</li>
                    <li>.NET Standard</li>
                    <li>ASP.NET MVC</li>
                    <li>ASP.NET Web API</li>
                    <li>TypeScript</li>
                    <li>Angular</li>
                    <li>JavaScript</li>
                    <li>Entity Framework</li>
                    <li>MSMQ</li>
                    <li>Azure Service Bus</li>
                    <li>Azure Functions</li>
                    <li>Azure App Services</li>
                    <li>MSSQL</li>
                    <li>EPiServer CMS</li>
                    <li>Xamarin</li>
                    <li>Azure DevOps Pipelines</li>
                    <li>Octopus Deploy</li>
                    <li>Git</li>
                    <li>IIS</li>
                    <li>NUnit / XUnit</li>
                    <li>Serilog</li>
                    <li>New Relic</li>
                    <li>NuGet Feed</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Google Tag Manager</li>
                </ul>
            </div>
            <div class="roles">
                <div class="role">
                    <div class="role-title">
                        Solutions Architect
                        <div class="time-in-role">March 2019 - Present</div>
                    </div>
                    <div class="role-details">
                        The role oversaw all technical &amp; architectural decisions across the entire company and was responsible for providing support to the team
                        leads when required, guidance and co-ordination on larger cross-team projects and technical clarity, as well as clear direction for any technical
                        problems encountered.
                        <ul>
                            <li>Designed &amp; built migration strategy &amp; software solution from MSMQ to <strong>Azure Service Bus</strong> in .NET 6.</li>
                            <li>Prototyped, architected and oversaw document recognition / OCR solutions using <strong>Azure CustomVision</strong> and <strong>Azure FormRecogniser</strong>.</li>
                            <li>Implemented, managed and an advocate for 24/7 monitoring SaaS <strong>New Relic</strong>.</li>
                            <li>
                                Wrote &amp; support light-touch application development coding guidelines to provide unified approches to problems such as
                                logging, naming conventions, app setup, etc.
                            </li>
                            <li>
                                Discussed &amp; reasoned technical issues and helped teams come to pragmatic decisions &amp; compromises to often complex issues, as well as being
                                involved in resolving most production-critical issues.
                            </li>
                            <li>Supported any and all team members when they came to me for advice or guidance.</li>
                            <li>Maintained technical skills by working on smaller projects and contributing pull requests to other teams projects.</li>
                        </ul>
                    </div>
                </div>
                <div class="role">
                    <div class="role-title">
                        Software Developer Team Lead
                        <div class="time-in-role">April 2016 - March 2019</div>
                    </div>
                    <div class="role-details">
                        <p>
                            My job was to lead a fully autonomous software development team, with a product owner, a QA and 4-5 developers,
                            while still being knee-deep in code, as well as being expected to be the tech lead and buck-stops-here guy to keep everyone
                            going forward. Since I became team lead, myself and my team were responsible for:
                            <ul>
                                <li>Fully automating our code releases to all elements of our application.</li>
                                <li>Integrated with numerous 3rd parties with bespoke solutions.</li>
                                <li>Built a Xamarin application targeting iOS and Android.</li>
                                <li>Built new external API with authentication & token management.</li>
                                <li>Rebuilt the public website with the focus on speed & UX using .NET Core &amp; Angular.</li>
                            </ul>
                        </p>
                        <p>
                            As a team lead specifically:
                            <ul>
                                <li>Implented automated deployment pipelines using Octopus Deploy.</li>
                                <li>Migrated entire organisation & data from TFS on premise to Azure DevOps.</li>
                                <li>Changed the way of working to involve code reviews.</li>
                                <li>Changed the team (and later other teams) from release trains to frequent mini-releases.</li>
                                <li>I was involved in many recruitments for developers within my team and others.</li>
                                <li>I provided out-of-hours support for mission critical applications in the business.</li>
                            </ul>
                        </p>
                    </div>
                </div>
                <div class="role">
                    <div class="role-title">
                        Senior Software Developer
                        <div class="time-in-role">October 2014 - April 2016</div>
                    </div>
                    <div class="role-details">
                        <p>
                            I helped develop, maintain and support the full suite of software both internal and external for the WeBuyAnyCar.com
                            website and systems. While at WeBuyAnyCar.com, I've been part of a team that has:
                            <ul>
                                <li>Redeveloped the website into an application that works in multiple countries.</li>
                                <li>Supported and improved existed code bases.</li>
                                <li>Designed and implemented a new appointment system used by the website, report analysts, the vehicle purchasers and their managers on a daily basis.</li>
                                <li>
                                    Implemented features across our entire stack including:
                                    <ul>
                                        <li>cosmetic changes of many sizes to the website.</li>
                                        <li>business logic changes large and small across multiple WCF and WebAPI services.</li>
                                        <li>database changes & schema designs to support new features.</li>
                                        <li>added large features spanning the entire stack.</li>
                                        <li>MSMQ subscibers to migrate data around legacy systems.</li>
                                        <li>helped manage TFS and Release Management for the team to improve our release process.</li>
                                    </ul>
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="position">
            <div class="company">
                <h2>Stockport Council</h2>
                <p>Approx. 18 months</p>
                <ul class="skills">
                    <li>C#</li>
                    <li>ASP.NET MVC</li>
                    <li>ASP.NET Web API</li>
                    <li>ASP.NET WebForms</li>
                    <li>.NET Framework</li>
                    <li>MSSQL</li>
                    <li>Git</li>
                    <li>JavaScript</li>
                    <li>Entity Framework</li>
                </ul>
            </div>
            <div class="roles">
                <div class="role">
                    <div class="role-title">
                        Lead Developer
                        <div class="time-in-role">April 2013 - October 2014</div>
                    </div>
                    <div class="role-details">
                        <p>
                            Introduced to a team that needed fresh blood, my main responsibilities have been to try and raise the bar and update
                            practices and skill levels throughout the team. This has included:
                            <ul>
                                <li><strong>Shared Code</strong>: Introducing NuGet and internally written shared code libraries.</li>
                                <li><strong>Git</strong>: Replacing Visual SourceSafe with Git as the source control system.</li>
                                <li><strong>Build server</strong>: Introducing the concept of build servers and their benefits to the team.</li>
                                <li><strong>C#</strong>: Removing the barrier for using C# and encouraging its use throughout the team.</li>
                                <li><strong>ASP.NET MVC</strong>: Introducing MVC as an alternative to webforms and proprietary form technologies.</li>
                                <li><strong>Unit Testing</strong>: Introducing and encouraging the use of unit testing code.</li>
                                <li><strong>Code reviews</strong>: Supporting improvement with the use of code reviews.</li>
                                <li>
                                    <strong>Knowledge sharing sessions</strong>: Arranging sessions to teach and train staff on various topics such as object
                                    orientated programming, JavaScript, Entity Framework, and the topics above.
                                </li>
                            </ul>
                        </p>
                        <p>
                            <strong>Key projects</strong>
                            <ul>
                                <li>Online Flexitime system MVC/JavaScript based application.</li>
                                <li>Phonebook with Active Directory integration.</li>
                                <li>ICT Self Service redesign and reworking of all forms.</li>
                                <li>Epix Payslips Archive system to display old payslips.</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="position">
            <div class="company">
                <h2>Trafford Council</h2>
                <p>Approx. 2.5 years</p>
                <ul class="skills">
                    <li>C#</li>
                    <li>ASP.NET MVC</li>
                    <li>ASP.NET Web API</li>
                    <li>.NET Framework</li>
                    <li>Entity Framework</li>
                    <li>JavaScript</li>
                    <li>JQuery</li>
                    <li>Git</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>MSSQL</li>
                </ul>
            </div>
            <div class="roles">
                <div class="role">
                    <div class="role-title">
                        Applications Developer
                        <div class="time-in-role">October 2010 - April 2013</div>
                    </div>
                    <div class="role-details">
                        <p>
                            I worked as part of a small team of 3-4 developers for a Council of a few thousand employees producing web based &
                            other systems.
                        </p>
                        <p>
                            <strong>Booking System</strong>: I was responsible for designing the UX and building the front end, using in the C#, ASP.NET MVC, JQuery
                            and HTML5 to build an app that targeted newer and older browsers simultaneously.
                        </p>
                        <p>
                            <strong>Flexitime / Time recording system</strong>: Full responsibility for building a system, building on what I'd learnt doing a similar one
                            years early at Tameside Council. Built in two stages to ensure it met a legal deadline imposed, the system was rolled out on
                            time to positive reception. Built using C#, ASP.NET MVC, Entity Framework 4 (Code First) with heavy use of JQuery to ease
                            user input. The system had to take into account the variety of working patterns / arrangements within the Council, including
                            facilitating automatic enforced restrictions where appropriate.
                        </p>
                        <p>
                            <strong>Phonebook / Profile System</strong>: Integrating with the previous two systems, the Phone Book using Active Directory as it's
                            primary data store (but generating a cache for performance purposes). It allowed staff to update most of their details and
                            add photographs to their account, which were reflected then in Outlook and Lync for them.
                        </p>
                        <p>
                            <strong>General development improvements:</strong>
                            <ul>
                                <li>Implemented a build server to check the current status of each project.</li>
                                <li>Implementation of an internal NuGet feed to share code libraries between projects.</li>
                                <li>Introduction of Git as a source control system to the team.</li>
                                <li>
                                    Implemented a shared content library which enabled sharing of static content (such as CSS, JS, etc) but
                                    also Razor Views to help ensure a consistent approach to Intranet & Public Website forms / applications.
                                </li>
                            </ul>
                        </p>
                        <p>
                            <strong>Other projects:</strong>
                            <ul>
                                <li>Absence Monitoring: Monitoring and recording sickess corporately</li>
                                <li>Tell Us Once: Allow Registrar's to register a death with a customer and inform all the relevant areas of the Council.</li>
                                <li>Windows 7 Gadget: For displaying ICT Service messages regardless of whether they are connected via VPN or not.</li>
                                <li>Maintentance of older systems: General maintenance and improvements for older systems.</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="position">
            <div class="company">
                <h2>Tameside Council</h2>
                <p>Approx. 10 years</p>
                <ul class="skills">
                    <li>C#</li>
                    <li>ASP.NET MVC</li>
                    <li>Classic ASP</li>
                    <li>VB Script</li>
                    <li>JavaScript</li>
                    <li>.NET Framework</li>
                    <li>PHP</li>
                    <li>JQuery</li>
                    <li>XHTML</li>
                    <li>MySQL</li>
                    <li>MSSQL</li>
                </ul>
            </div>
            <div class="roles">
                <div class="role">
                    <div class="role-title">
                        Webmaster
                        <div class="time-in-role">August 2008 - October 2010</div>
                    </div>
                    <div class="role-details">
                        <p>
                            During my time in this role I was responsible for the design, maintainance, implementation, infrastructure, coding, design,
                            layout, accessibility and usability of one of the most accomplished local government websites within the UK (Tameside
                            Council). These responsibilities came in extension to my role and responsibility as a Systems Developer / Analyst and some
                            of the things achieved in that time are:
                            <ul>
                                <li>
                                    Becoming the team leader:I gained the technical responsibility for staff, ensuring that any issues that arose
                                    were resolved, carrying out code reviews, mentoring and offering advice to my manager on technical subjects.
                                </li>
                                <li>
                                    Introduced and supported my team's move to ASP.NET Web forms & MVC 1 & 2 from building new projects
                                    within Classic ASP
                                </li>
                                <li>
                                    Implemented and changed the teams attitude & use of Source Control (from an ill-used VSS solution to
                                    Subversion).
                                </li>
                                <li>Introduced and arranged code reviews.</li>
                                <li>Involved within the recruitment process as technical judge.</li>
                                <li>Represented the Council and presented at an NWEGG conference with partners and representatives from other authorities.</li>
                                <li>Implementation and maintenance of Google Analytics to replace a subscription-based alternative.</li>
                                <li>Administration of the "Google Mini" search appliance.</li>
                                <li>Emergency / late night local election web authoring and website maintenance support out-of-hours.</li>
                                <li>Created and maintained guidelines for Council's social media presences.</li>
                            </ul>
                        </p>
                        <p>
                            Some projects worked on within my time as Webmaster:
                            <ul>
                                <li>
                                    Mobile Phone system: Imported data directly from 3rd party extracts and enabled staff to mark and pay for
                                    personal calls on their mobile phone, as well as offering reports to aid with the maintenance of the fleet.
                                </li>
                                <li>
                                    Know Your Numbers: Showed staff their mobile phone usage, printer usage, landline external calls to
                                    encourage staff to cut costs where possible. Built using ASP.NET MVC 1, JQuery and Google Charts.
                                </li>
                                <li>
                                    The Portal (sign-on service and Extranet): Single sign-on logic (using OpenID and others) that would allow
                                    staff, councillors and the public to sign into a customised view of Council information.
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>

                <div class="role">
                    <div class="role-title">
                        Web Programmer / Analyst
                        <div class="time-in-role">August 2001 - August 2008</div>
                    </div>
                    <div class="role-details">
                        <p>
                            Throughout the eight years I spent progressing from a Modern Apprentice to a Systems Analyst, I built, designed and
                            maintained a great number of systems for Tameside Council's public website and Intranet as well as providing support and
                            aid to my colleagues and co-workers.
                        </p>
                        <p>
                            Over the years I was responsible for gathering requirements, designing systems, mapping & improving business processes,
                            system & database architecture, coding, designing the user experience, testing, project managing and various other tasks.
                        </p>
                        <p>
                            During the eight years within this role, I was part of a large number of projects both small and large. Examples of some of
                            the projects:
                            <ul>
                                <li>
                                    Implementing the WAI Accessibility Guidelines: Project manager and technical lead for interpreting and
                                    implementing the WAI Accessibility guidelines.
                                </li>
                                <li>
                                    HTML & CSS Website redesigns Responsible for the design of the Council website from 2002 until I left in 2010,
                                    which included 2 full redesigns and 3-4 minor re-jigs. This often involved full design from concept art through to
                                    building the HTML & CSS implementation.
                                </li>
                                <li>
                                    Creation of the Public Website CMS Project managed & built a replacement for a flat-file system website with a
                                    custom built CMS, using PHP with a load balanced database over two MySQL boxes.
                                </li>
                                <li>
                                    Creation of an Online Flexi System Around 2002/03, built a client-side system to enable staff to record and
                                    monitor their flexitime balances via the web, as well as enabling managers to manage and authorise leave
                                    requests, built using Classic ASP.
                                </li>
                                <li>
                                    Prototyping / Development Form Template To enable the Council to enable all requests for services to be
                                    completed online, I was involved in creating a template form which would help speed up development of basic
                                    forms.
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>

                <div class="role">
                    <div class="role-title">
                        Modern Apprentice Web Author
                        <div class="time-in-role">August 2000 - August 2001</div>
                    </div>
                    <div class="role-details">
                        <p>
                            During this role I was responsible for updating &amp; designing pages on the Council's website.
                        </p>
                        <p>
                            As part of the modern apprenticeship, I completed an NVQ Level 3 in Developing IT Systems and a HNC in Computing.
                        </p>
                    </div>
                </div>
            </div>

        </div>


        <div class="position">
            <div class="company">
                <h2>Side Projects</h2>
            </div>
            <div class="roles">
                <div class="role">
                    <div class="role-title">
                        <a href="https://amadiere.com">Amadiere.com</a>
                    </div>
                    <div class="role-details">
                        <p>
                            My personal website, largely just HTML &amp; CSS, with the source code <a href="https://github.com/Amadiere/AmadiereDotCom">publically available</a> on Github.
                        </p>
                    </div>
                </div>
                <div class="role">
                    <div class="role-title">
                        <a href="https://pjcscaffolding.co.uk">PJC Scaffolding</a>
                    </div>
                    <div class="role-details">
                        <p>Designed, built &amp; maintain the company website on behalf of family members.</p>
                    </div>
                </div>
            </div>

        </div>



        <div class="position education">
            <h3>Education</h3>
            <dl>
                <dt>2001 - 2003 - <strong>HNC (Part-Time) Computing (Business Information Technology)</strong></dt>
                <dd>City College Manchester</dd>

                <dt>2000 - 2001 - <strong>Developing IT Systems Level 3 NVQ</strong></dt>
                <dd>Oxford Cambridge and RSA Examinations</dd>

                <dt>1998 - 2000 - <strong>GNVQ Information Technology (Distinction)</strong></dt>
                <dd>Ashton Sixth Form College</dd>

                <dt>1998 - 2000 - <strong>Business Studies (D)</strong></dt>
                <dd>Ashton Sixth Form College</dd>

                <dt>1993 - 1998 - <strong>10 A-C GCSEs</strong></dt>
                <dd>Copley High School</dd>
            </dl>
        </div>

        <div class="position education">
            <h3>Pastimes</h3>
            <p class="apology">I enjoy problem-solving and building things, and this is the driving factor behind a lot of the things I like to do in my spare time.</p>
            <p class="apology">This includes modern board games, coding, tinkering with &amp; building applications, computer games, walking my dog, and of course, spending time with my wife and two boys.</p>
        </div>

    </section>
</div>