body.blog {
    header {
        padding-left: 2em;

        .main-image img {
            display: none;
        }
    }

    &.blog-index {
        div.twitter-feed {
            display: none;
        }
    }
}
