body.blog {

    div.logo-box {
        margin-left: 100px;
        margin-right: 100px;
    }

    header {
        padding: 3em 3em 3em 250px;
    }

    &.blog-index {
        header {
            padding-left: 100px;
        }

        div.content {
            padding-left: 100px;
        }

        div.twitter-feed {
            display: table-cell;
            width: 500px;
            height: 100%;
            margin-left: 20px;
        }
    }

    ul#content-list {
        img.mini {
            top: 0;
        }
    }

    article {
        margin-left: 100px;
        margin-right: 100px;
    }
}
