/// <reference path="../_base.scss" />
/// <reference path="../partials/_buttons.scss" />
/// <reference path="../partials/_boxes.scss" />

blockquote {
    
    margin: 0.25em 0;
    padding: 0.35em 30px;
    line-height: 1.45;
    position: relative;
    color: darken($primary-color-compliment, 5);
}

blockquote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 6em;
    position: absolute;
    left: -20px;
    top: -20px;
}

blockquote:after {
    position: absolute;
    float: right;
    font-size: 6em;
    line-height: 1;
    right: 0;
    bottom: -0.5em;
    content: "\201D";
}

#cv {
    background-color: $primary-color;

    @media only screen and (min-width: 1000px) {
        padding-left: 10%;
        padding-right: 10%;
    }

    padding-bottom: 1em;

    ul.links {
        list-style: none;
        color: $primary-color-compliment;
        padding: 1em 0;

        li {
            display: inline-block;
            font-size: 0.9em;
            padding-top: 5px;
            padding-right: 1em;

            a {
                color: $primary-color-compliment;
                font-weight: normal;
                text-decoration: none;
            }

            svg {
                width: 30px;
                font-size: 1.1em;
                vertical-align: middle;
                padding-bottom: 3px;
            }
        }
    }

    header {
        text-align: center;
        font-size: 1.2em;

        h1 {
            color: $primary-color-compliment;
            font-size: 3em;
            padding: 0;
        }

        h2 {
            color: $primary-color-compliment;
            padding: 0;
            font-size: 1em;
        }

        padding: 3em;


        @media only screen and (max-width: 1000px) {
            padding: 1em;
        }

        padding-bottom: 0;
    }

    section#work-history {
        margin: 2em;
        background-color: $primary-color-compliment;

        .position {
            width: 100%;
            //background-color: greenyellow;

            @media only screen and (min-width: 999px) {
                display: table;
            }

            border-bottom: 10px solid $primary-color;

            .apology {
                font-size: 1.2em;
                text-align: center;
                padding: 0 3em;
                margin-bottom: 1em;
            }
        }

        .roles {
            width: 65%;
            display: table-cell;
            //background-color: magenta;
            padding: 1em;

            .role-title {
                color: $primary-color;
                font-size: 1.4em;
                font-weight: 600;
            }

            .time-in-role {
                display: inline-block;
                color: $main-font-color;
                font-size: 0.8em;
                padding-left: 1em;
            }

            .role-details {
                line-height: 1.3em;

                p {
                    padding: 0.5em 0;
                }

                ul {
                    margin-left: 2.5em;
                }

                li {
                    padding: 3px;
                }
            }
        }

        .company {
            width: 35%;
            display: table-cell;

            @media only screen and (max-width: 1000px) {
                width: 100%;
                display: block;
            }
            //background-color: aqua;
            padding: 1em;
        }
    }

    .skills {
        list-style: none;
        padding: 0.6em 0;
        width: 94%;

        li {
            background-color: $primary-color;
            display: inline-block;
            padding: 0.3em 0.7em;
            margin: 0.15em 0;
            color: $primary-color-compliment;
            text-align: left;
            font-size: 0.9em;
            @include rounded(10px);
        }
    }

    .education {
        h3 {
            color: $primary-color;
            text-align: center;
            font-size: 1.7em;
            padding: 0.2em;
        }

        dl {
            text-align: center;
            font-size: 1.1em;
            margin-top: 0.5em;

            dd {
                margin-bottom: 1em;
                color: lighten($main-font-color, 30);
            }
        }
    }
}
