/// <reference path="../_base.scss" />

body.error {

    div {
        text-align: center;
        padding-top: 1em;
    }

    h1 {
        padding-top: 50px;
        color: $primary-color;
        font-size: 10em;
    }

    h2 {
        font-size: 2.5em;
        color: lighten($main-font-color, 60);
    }

    .button-blog {
        $icon-color: $primary-color-compliment;
        @include call-to-action(darken($primary-color, 5%), $primary-color-compliment);
        margin: 10px;
        padding: 20px 35px;
    }
}
