/// <reference path="../_base.scss" />
/// <reference path="../partials/_buttons.scss" />
/// <reference path="../partials/_boxes.scss" />

/* Homepage specific styles */
body.homepage {

    .content {
        width: 100%;
        text-align: center;
        display: table;
        height: 100%;

        @media only screen and (max-width: 1000px) {
            margin-bottom: 100px;
        }

        ul {
            list-style: none;
            display: inline-block;
            margin: 0 auto;
            padding: 1em;
            font-size: 1.2em;

            li {
                text-align: left;
            }
        }

        @media only screen and (max-width: 1000px) {
            .introduction .buttons {
                display: none;
            }
        }

        @media only screen and (min-width: 1000px) {

            a,
            a:visited,
            a:active,
            a:hover {
                color: $primary-color-compliment;
            }

            .introduction {
                background-color: $primary-color;
                color: $primary-color-compliment;
                width: 50%;
                font-size: 18pt;
                height: 100%;
                display: table-cell;
                vertical-align: middle;

                .buttons {
                    margin-top: 2em;
                }

                .button-aboutme {
                    margin: 10px;
                    padding: 20px 35px;
                }

                .button-blog {
                    margin: 10px;
                    padding: 20px 35px;
                }
            }

            .sticker-box {
                width: 50%;
                display: table-cell;
                height: 100%;
                vertical-align: middle;
            }
        }

        .my-name-is {
            position: relative;
            margin-top: -100px;
            margin-bottom: 2em;
        }
    }

    img.circle-of-alex {
        height: 350px;
        width: 350px;
        @include rounded(50%);

        @media only screen and (min-width: 600px) {
            height: 500px;
            width: 500px;
        }
    }

    .introduction ul li svg {
        width: 50px;
    }

    img.logo {
        padding: 1em;
    }

    em.smeg {
        height: 20px;
        width: 20px;
        vertical-align: middle;
        display: inline-block;
        color: #803d1c;
    }


    footer {

        @media only screen and (min-width: 1000px) {
            display: none;
        }

        .button-aboutme {
            margin: 3px;
            float: left;
            padding: 10px 15px;
        }

        .button-blog {
            margin: 3px;
            float: right;
            padding: 10px 15px;
        }

        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: $primary-color;
        color: $primary-color-compliment;
    }

    .button-aboutme {
        $icon-color: $primary-color-compliment;
        @include call-to-action(darken($primary-color, 5%), $primary-color-compliment);
    }

    .button-blog {
        $icon-color: $primary-color-compliment;
        @include call-to-action(darken($primary-color, 5%), $primary-color-compliment);
    }
}
