/* Homepage specific styles */
body.homepage {

    .content {
        margin-bottom: 100px;

        .introduction .buttons {
            display: none;
        }
    }

    img.circle-of-alex {
        height: 500px;
        width: 500px;
    }
}
