@charset "UTF-8";
.button, body.error .button-blog, body.homepage .button-blog, body.homepage .button-aboutme {
  text-decoration: none;
  display: inline-block;
  padding: 0.2em 0.5em;
  margin: 0;
  font-size: 1.2em;
  font-weight: normal;
}

em.button-image-base, body.error .button-blog em.button-image, body.homepage .button-blog em.button-image, body.homepage .button-aboutme em.button-image {
  height: 30px;
  width: 30px;
  vertical-align: middle;
  display: inline-block;
}

.social-media-buttons {
  text-align: center;
}
@media only screen and (min-width: 1000px) {
  .social-media-buttons {
    position: fixed;
    top: 300px;
    left: 0;
    width: 50px;
  }
}

.share-btn {
  display: inline-block;
  color: #ffffff;
  border: none;
  padding: 0.5em;
  margin-top: 5px;
  width: 2em;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
  outline: none;
  text-align: center;
}

.share-btn:visited {
  color: #FFFFFF;
}

.share-btn:hover {
  color: #eeeeee;
}

.share-btn:active {
  position: relative;
  top: 2px;
  box-shadow: none;
  color: #e2e2e2;
  outline: none;
}

.share-btn.twitter {
  background: #55acee;
}

.share-btn.google-plus {
  background: #dd4b39;
}

.share-btn.facebook {
  background: #3B5998;
}

.share-btn.stumbleupon {
  background: #EB4823;
}

.share-btn.reddit {
  background: #ff5700;
}

.share-btn.linkedin {
  background: #4875B4;
}

.share-btn.email {
  background: #444444;
}

.my-name-is {
  width: 80%;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  -ms-transform: rotate(-5deg);
  /* IE 9 */
  -webkit-transform: rotate(-5deg);
  /* Safari */
  transform: rotate(-5deg);
  -webkit-border-radius: 1.3em;
  -moz-border-radius: 1.3em;
  border-radius: 1.3em;
  -webkit-box-shadow: 0px 0px 10px #000000;
  -moz-box-shadow: 0px 0px 10px #000000;
  box-shadow: 0px 0px 10px #000000;
}
.my-name-is .top {
  background-color: #9d0202;
  -webkit-border-top-left-radius: 0.7em;
  -webkit-border-top-right-radius: 0.7em;
  -moz-border-radius-topleft: 0.7em;
  -moz-border-radius-topright: 0.7em;
  border-top-left-radius: 0.7em;
  border-top-right-radius: 0.7em;
  padding: 0.1em;
  color: #FFFFFF;
  font-size: 1.5em;
  line-height: 0.9em;
}
.my-name-is .top div.hello {
  font-size: 2em;
  line-height: 1em;
}
.my-name-is .bottom {
  background-color: #9d0202;
  -webkit-border-bottom-left-radius: 0.7em;
  -webkit-border-bottom-right-radius: 0.7em;
  -moz-border-radius-bottomleft: 0.7em;
  -moz-border-radius-bottomright: 0.7em;
  border-bottom-left-radius: 0.7em;
  border-bottom-right-radius: 0.7em;
}
.my-name-is .written-area {
  background-color: #FFFFFF;
  height: 1em;
  line-height: 1em;
  font-size: 4em;
  font-family: "Shadows Into Light", cursive;
}

/* Homepage specific styles */
body.homepage .content {
  width: 100%;
  text-align: center;
  display: table;
  height: 100%;
}
@media only screen and (max-width: 1000px) {
  body.homepage .content {
    margin-bottom: 100px;
  }
}
body.homepage .content ul {
  list-style: none;
  display: inline-block;
  margin: 0 auto;
  padding: 1em;
  font-size: 1.2em;
}
body.homepage .content ul li {
  text-align: left;
}
@media only screen and (max-width: 1000px) {
  body.homepage .content .introduction .buttons {
    display: none;
  }
}
@media only screen and (min-width: 1000px) {
  body.homepage .content a,
body.homepage .content a:visited,
body.homepage .content a:active,
body.homepage .content a:hover {
    color: #FFFFFF;
  }
  body.homepage .content .introduction {
    background-color: #9d0202;
    color: #FFFFFF;
    width: 50%;
    font-size: 18pt;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
  }
  body.homepage .content .introduction .buttons {
    margin-top: 2em;
  }
  body.homepage .content .introduction .button-aboutme {
    margin: 10px;
    padding: 20px 35px;
  }
  body.homepage .content .introduction .button-blog {
    margin: 10px;
    padding: 20px 35px;
  }
  body.homepage .content .sticker-box {
    width: 50%;
    display: table-cell;
    height: 100%;
    vertical-align: middle;
  }
}
body.homepage .content .my-name-is {
  position: relative;
  margin-top: -100px;
  margin-bottom: 2em;
}
body.homepage img.circle-of-alex {
  height: 350px;
  width: 350px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
@media only screen and (min-width: 600px) {
  body.homepage img.circle-of-alex {
    height: 500px;
    width: 500px;
  }
}
body.homepage .introduction ul li svg {
  width: 50px;
}
body.homepage img.logo {
  padding: 1em;
}
body.homepage em.smeg {
  height: 20px;
  width: 20px;
  vertical-align: middle;
  display: inline-block;
  color: #803d1c;
}
body.homepage footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #9d0202;
  color: #FFFFFF;
}
@media only screen and (min-width: 1000px) {
  body.homepage footer {
    display: none;
  }
}
body.homepage footer .button-aboutme {
  margin: 3px;
  float: left;
  padding: 10px 15px;
}
body.homepage footer .button-blog {
  margin: 3px;
  float: right;
  padding: 10px 15px;
}
body.homepage .button-aboutme {
  background-color: #840202;
  color: #FFFFFF;
}
body.homepage .button-aboutme:hover {
  background-color: #FFFFFF;
  color: #840202;
}
body.homepage .button-blog {
  background-color: #840202;
  color: #FFFFFF;
}
body.homepage .button-blog:hover {
  background-color: #FFFFFF;
  color: #840202;
}
body.aboutme header {
  text-align: center;
  padding: 3em;
  font-size: 1.4em;
}
body.aboutme header h1 {
  color: #9d0202;
  font-size: 30pt;
  padding-bottom: 0.3em;
}
body.aboutme header p {
  margin: 1em;
}
body.aboutme .headline-section {
  background-color: #9d0202;
  color: #FFFFFF;
  text-align: center;
  padding: 2em;
  font-size: 1.4em;
}
body.aboutme .headline-section p {
  margin: 1em;
}
body.aboutme .headline-section svg {
  height: 100px;
  font-size: 2em;
  padding: 0 0.1em;
  color: #FFFFFF;
}
body.aboutme .secondary-section {
  text-align: center;
  padding: 2em;
  font-size: 1.4em;
}
body.aboutme .language-list {
  padding: 0.5em;
  font-size: 0.85em;
}
body.aboutme .language-list span {
  display: inline-block;
  background-color: #cbcbcb;
  padding: 0.5em 1em;
  margin-top: 5px;
}
body.aboutme .language-list span:hover {
  background-color: #9d0202;
  color: #FFFFFF;
}

.parallax {
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax.on-the-rocks {
  background-image: url("/images/whisky-on-the-rocks.jpg");
}
.parallax.northern-lights {
  background-image: url("/images/northern-lights.jpg");
}

pre code {
  font: normal 10pt Consolas, Monaco, monospace;
}

body.blog div.logo-box {
  padding-top: 1.5em;
  padding-bottom: 0.5em;
  margin-left: 40px;
  margin-right: 40px;
}
@media only screen and (min-width: 1000px) {
  body.blog div.logo-box {
    margin-left: 100px;
    margin-right: 100px;
  }
}
body.blog header {
  position: relative;
  background-color: #9d0202;
  padding: 2em 2em 2em 240px;
  margin: 1em 0;
  color: #FFFFFF;
}
body.blog header .main-image img {
  position: absolute;
  left: 0;
  top: 0px;
  height: 100%;
  width: 200px;
}
body.blog header h2 {
  font-size: 24pt;
  margin-bottom: 5px;
}
@media only screen and (min-width: 1000px) {
  body.blog header {
    padding: 3em 3em 3em 250px;
  }
}
@media only screen and (max-width: 600px) {
  body.blog header {
    padding-left: 2em;
  }
  body.blog header .main-image img {
    display: none;
  }
}
body.blog header ul.tag-list {
  margin-top: 10px;
  font-size: smaller;
}
body.blog header ul.tag-list li {
  display: inline-block;
  background-color: #840202;
  padding: 5px 10px;
}
body.blog footer {
  background-color: #cbcbcb;
  padding: 2em;
  margin-top: 2em;
  text-align: center;
  clear: both;
}
body.blog.blog-index header {
  padding-left: 20px;
}
body.blog.blog-index div.content {
  height: 100%;
  display: table;
  padding-left: 20px;
  padding-right: 20px;
}
@media only screen and (max-width: 600px) {
  body.blog.blog-index div.twitter-feed {
    display: none;
  }
}
@media only screen and (min-width: 1000px) {
  body.blog.blog-index header {
    padding-left: 100px;
  }
  body.blog.blog-index div.content {
    padding-left: 100px;
  }
  body.blog.blog-index div.twitter-feed {
    display: table-cell;
    width: 500px;
    height: 100%;
    margin-left: 20px;
  }
}
body.blog .article-summary {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  padding: 5px;
}
body.blog .article-summary .date {
  width: 200px;
}
body.blog ul#content-list {
  height: 100%;
  vertical-align: top;
  display: table-cell;
  width: 70%;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
}
body.blog ul#content-list h2 {
  font-size: 14pt;
}
body.blog ul#content-list li.article {
  list-style: none;
  position: relative;
  font-size: 13pt;
  border-bottom: 1px solid #cbcbcb;
  min-height: 120px;
}
body.blog ul#content-list li.article .article-details {
  margin-left: 110px;
  padding-left: 1em;
  padding-top: 5px;
  margin-right: 20px;
}
body.blog ul#content-list li.article.title {
  min-height: auto;
  height: 1.2em;
  border-bottom: none;
  padding-bottom: 0.5em;
}
body.blog ul#content-list li.article .date {
  padding-top: 0.2em;
  color: #666666;
  font-size: smaller;
}
body.blog ul#content-list li.article .description {
  padding: 0.5em 0;
}
body.blog ul#content-list img.mini {
  position: absolute;
  height: 100px;
  width: 110px;
  top: 10px;
}
@media only screen and (min-width: 1000px) {
  body.blog ul#content-list img.mini {
    top: 0;
  }
}
body.blog article {
  padding-top: 1em;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 1.35em;
}
@media only screen and (min-width: 1000px) {
  body.blog article {
    margin-left: 100px;
    margin-right: 100px;
  }
}
body.blog article p {
  margin-bottom: 1em;
}
body.blog article pre {
  margin-top: 1em;
  margin-bottom: 1em;
}
body.blog article li {
  margin-bottom: 1em;
}
body.blog article ul {
  margin-left: 2em;
}
body.blog article blockquote {
  border-left: 10px solid #9d0202;
  background-color: #fffbfb;
  padding: 1em;
  margin: 1em;
}
body.blog article img {
  vertical-align: top;
  border: 10px solid #9d0202;
  margin-bottom: 1em;
}
body.blog article h3 {
  margin: 1em 0;
  color: #9d0202;
  font-size: 1.5em;
}

body.error div {
  text-align: center;
  padding-top: 1em;
}
body.error h1 {
  padding-top: 50px;
  color: #9d0202;
  font-size: 10em;
}
body.error h2 {
  font-size: 2.5em;
  color: #999999;
}
body.error .button-blog {
  background-color: #840202;
  color: #FFFFFF;
  margin: 10px;
  padding: 20px 35px;
}
body.error .button-blog:hover {
  background-color: #FFFFFF;
  color: #840202;
}
blockquote {
  margin: 0.25em 0;
  padding: 0.35em 30px;
  line-height: 1.45;
  position: relative;
  color: #f2f2f2;
}

blockquote:before {
  display: block;
  padding-left: 10px;
  content: "“";
  font-size: 6em;
  position: absolute;
  left: -20px;
  top: -20px;
}

blockquote:after {
  position: absolute;
  float: right;
  font-size: 6em;
  line-height: 1;
  right: 0;
  bottom: -0.5em;
  content: "”";
}

#cv {
  background-color: #9d0202;
  padding-bottom: 1em;
}
#cv ul.links {
  list-style: none;
  color: #FFFFFF;
  padding: 1em 0;
}
#cv ul.links li {
  display: inline-block;
  font-size: 0.9em;
  padding-top: 5px;
  padding-right: 1em;
}
#cv ul.links li a {
  color: #FFFFFF;
  font-weight: normal;
  text-decoration: none;
}
#cv ul.links li svg {
  width: 30px;
  font-size: 1.1em;
  vertical-align: middle;
  padding-bottom: 3px;
}
#cv header {
  text-align: center;
  font-size: 1.2em;
  padding: 3em;
  padding-bottom: 0;
}
#cv header h1 {
  color: #FFFFFF;
  font-size: 3em;
  padding: 0;
}
#cv header h2 {
  color: #FFFFFF;
  padding: 0;
  font-size: 1em;
}
@media only screen and (max-width: 1000px) {
  #cv header {
    padding: 1em;
  }
}
#cv section#work-history {
  margin: 2em;
  background-color: #FFFFFF;
}
#cv section#work-history .position {
  width: 100%;
  border-bottom: 10px solid #9d0202;
}
@media only screen and (min-width: 999px) {
  #cv section#work-history .position {
    display: table;
  }
}
#cv section#work-history .position .apology {
  font-size: 1.2em;
  text-align: center;
  padding: 0 3em;
  margin-bottom: 1em;
}
#cv section#work-history .roles {
  width: 65%;
  display: table-cell;
  padding: 1em;
}
#cv section#work-history .roles .role-title {
  color: #9d0202;
  font-size: 1.4em;
  font-weight: 600;
}
#cv section#work-history .roles .time-in-role {
  display: inline-block;
  color: #000000;
  font-size: 0.8em;
  padding-left: 1em;
}
#cv section#work-history .roles .role-details {
  line-height: 1.3em;
}
#cv section#work-history .roles .role-details p {
  padding: 0.5em 0;
}
#cv section#work-history .roles .role-details ul {
  margin-left: 2.5em;
}
#cv section#work-history .roles .role-details li {
  padding: 3px;
}
#cv section#work-history .company {
  width: 35%;
  display: table-cell;
  padding: 1em;
}
@media only screen and (max-width: 1000px) {
  #cv section#work-history .company {
    width: 100%;
    display: block;
  }
}
#cv .skills {
  list-style: none;
  padding: 0.6em 0;
  width: 94%;
}
#cv .skills li {
  background-color: #9d0202;
  display: inline-block;
  padding: 0.3em 0.7em;
  margin: 0.15em 0;
  color: #FFFFFF;
  text-align: left;
  font-size: 0.9em;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
#cv .education h3 {
  color: #9d0202;
  text-align: center;
  font-size: 1.7em;
  padding: 0.2em;
}
#cv .education dl {
  text-align: center;
  font-size: 1.1em;
  margin-top: 0.5em;
}
#cv .education dl dd {
  margin-bottom: 1em;
  color: #4d4d4d;
}

* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #E4E4E4;
  color: #000000;
  font-family: "Raleway", sans-serif;
}

a,
a:hover,
a:visited,
a:active {
  color: #9d0202;
  font-weight: bolder;
}
