@import "_base.scss";

@import "partials/_boxes";
@import "partials/_buttons";
@import "partials/_social-media.scss";

@import "modules/_my-name-is.scss";
@import "modules/_homepage.scss";
@import "modules/_aboutme.scss";
@import "modules/_blog.scss";
@import "modules/_errors.scss";

* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: $main-background-color;
    color: $main-font-color;
    font-family: 'Raleway', sans-serif;
}

a,
a:hover,
a:visited,
a:active {
    color: $primary-color;
    font-weight: bolder;
}