.button, body.homepage .content .introduction .button-aboutme, body.homepage .content .introduction .button-blog, body.homepage footer .button-aboutme, body.homepage footer .button-blog {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  padding: 0.2em 0.5em;
  margin: 0;
  font-size: 1.2em;
  font-weight: normal; }

em.button-image-base, body.homepage .content .introduction .button-aboutme em.button-image, body.homepage .content .introduction .button-blog em.button-image, body.homepage footer .button-aboutme em.button-image, body.homepage footer .button-blog em.button-image {
  height: 30px;
  width: 30px;
  vertical-align: middle;
  display: inline-block; }

.social-media-buttons {
  text-align: center; }
  @media only screen and (min-width: 1000px) {
    .social-media-buttons {
      position: fixed;
      top: 300px;
      left: 0;
      width: 50px; } }

.share-btn {
  display: inline-block;
  color: #ffffff;
  border: none;
  padding: 0.5em;
  margin-top: 5px;
  width: 2em;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
  outline: none;
  text-align: center; }

.share-btn:visited {
  color: #FFFFFF; }

.share-btn:hover {
  color: #eeeeee; }

.share-btn:active {
  position: relative;
  top: 2px;
  box-shadow: none;
  color: #e2e2e2;
  outline: none; }

.share-btn.twitter {
  background: #55acee; }

.share-btn.google-plus {
  background: #dd4b39; }

.share-btn.facebook {
  background: #3B5998; }

.share-btn.stumbleupon {
  background: #EB4823; }

.share-btn.reddit {
  background: #ff5700; }

.share-btn.linkedin {
  background: #4875B4; }

.share-btn.email {
  background: #444444; }

.my-name-is {
  width: 80%;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  -ms-transform: rotate(-5deg);
  /* IE 9 */
  -webkit-transform: rotate(-5deg);
  /* Safari */
  transform: rotate(-5deg);
  -webkit-border-radius: 1.3em;
  -moz-border-radius: 1.3em;
  border-radius: 1.3em;
  -webkit-box-shadow: 0px 0px 10px #000000;
  -moz-box-shadow: 0px 0px 10px #000000;
  box-shadow: 0px 0px 10px #000000; }
  .my-name-is .top {
    background-color: #9d0202;
    -webkit-border-top-left-radius: 0.7em;
    -webkit-border-top-right-radius: 0.7em;
    -moz-border-radius-topleft: 0.7em;
    -moz-border-radius-topright: 0.7em;
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
    padding: 0.1em;
    color: #FFFFFF;
    font-size: 1.5em;
    line-height: 0.9em; }
    .my-name-is .top div.hello {
      font-size: 2em;
      line-height: 1em; }
  .my-name-is .bottom {
    background-color: #9d0202;
    -webkit-border-bottom-left-radius: 0.7em;
    -webkit-border-bottom-right-radius: 0.7em;
    -moz-border-radius-bottomleft: 0.7em;
    -moz-border-radius-bottomright: 0.7em;
    border-bottom-left-radius: 0.7em;
    border-bottom-right-radius: 0.7em; }
  .my-name-is .written-area {
    background-color: #FFFFFF;
    height: 1em;
    line-height: 1em;
    font-size: 4em;
    font-family: 'Shadows Into Light', cursive; }

/* Homepage specific styles */
body.homepage .content {
  width: 100%;
  text-align: center;
  display: table;
  height: 100%; }
  @media only screen and (max-width: 1000px) {
    body.homepage .content {
      margin-bottom: 100px; } }
  body.homepage .content ul {
    list-style: none;
    display: inline-block;
    margin: 0 auto;
    padding: 1em;
    font-size: 1.2em; }
    body.homepage .content ul li {
      text-align: left; }
  @media only screen and (max-width: 1000px) {
    body.homepage .content .introduction .buttons {
      display: none; } }
  @media only screen and (min-width: 1000px) {
    body.homepage .content a,
    body.homepage .content a:visited,
    body.homepage .content a:active,
    body.homepage .content a:hover {
      color: #FFFFFF; }
    body.homepage .content .introduction {
      background-color: #9d0202;
      color: #FFFFFF;
      width: 50%;
      font-size: 18pt;
      height: 100%;
      display: table-cell;
      vertical-align: middle; }
      body.homepage .content .introduction .buttons {
        margin-top: 2em; }
      body.homepage .content .introduction .button-aboutme {
        background-color: #840202;
        color: #FFFFFF;
        margin: 10px;
        padding: 20px 35px; }
        body.homepage .content .introduction .button-aboutme:hover {
          background-color: #FFFFFF;
          color: #840202; }
          body.homepage .content .introduction .button-aboutme:hover > .button-image {
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="height: 128px; width: 128px;"><path d="M0 0h512v512H0z" fill="#000000" opacity="0"></path><g class="" transform="translate(0,0)" style="touch-action: none;"><path fill="#FFFFFF" d="M50 96c-9.972 0-18 8.028-18 18v300c0 9.972 8.028 18 18 18h412c9.972 0 18-8.028 18-18V114c0-9.972-8.028-18-18-18H50zm5 23h402v18H55v-18zm0 32h210v258H55V151zm18 18v222h7.03c.47-24.342 18.315-74.172 47.093-97.889C136.331 300.56 147.615 305 160 305c12.385 0 23.669-4.44 32.877-11.889C221.655 316.828 239.5 366.658 239.97 391H247V169H73zm222 14h146v18H295v-18zm-135 10c20.835 0 39 20.241 39 47s-18.165 47-39 47-39-20.241-39-47 18.165-47 39-47zm135 22h114v18H295v-18zm0 32h50v18h-50v-18zm80 0h66v18h-66v-18zm-16 96h98v18h-98v-18zm-32 32h130v18H327v-18z"></path></g> <!-- react-empty: 6 --> </svg>'); }
        body.homepage .content .introduction .button-aboutme em.button-image {
          background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="height: 128px; width: 128px;"><path d="M0 0h512v512H0z" fill="#000000" opacity="0"></path><g class="" transform="translate(0,0)" style="touch-action: none;"><path fill="#FFFFFF" d="M50 96c-9.972 0-18 8.028-18 18v300c0 9.972 8.028 18 18 18h412c9.972 0 18-8.028 18-18V114c0-9.972-8.028-18-18-18H50zm5 23h402v18H55v-18zm0 32h210v258H55V151zm18 18v222h7.03c.47-24.342 18.315-74.172 47.093-97.889C136.331 300.56 147.615 305 160 305c12.385 0 23.669-4.44 32.877-11.889C221.655 316.828 239.5 366.658 239.97 391H247V169H73zm222 14h146v18H295v-18zm-135 10c20.835 0 39 20.241 39 47s-18.165 47-39 47-39-20.241-39-47 18.165-47 39-47zm135 22h114v18H295v-18zm0 32h50v18h-50v-18zm80 0h66v18h-66v-18zm-16 96h98v18h-98v-18zm-32 32h130v18H327v-18z"></path></g> <!-- react-empty: 6 --> </svg>'); }
      body.homepage .content .introduction .button-blog {
        background-color: #840202;
        color: #FFFFFF;
        margin: 10px;
        padding: 20px 35px; }
        body.homepage .content .introduction .button-blog:hover {
          background-color: #FFFFFF;
          color: #840202; }
          body.homepage .content .introduction .button-blog:hover > .button-image {
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="height: 128px; width: 128px;"><path d="M0 0h512v512H0z" fill="#000000" opacity="0"></path><g class="" transform="translate(0,0)" style="touch-action: none;"><path fill="#FFFFFF" d="M367.844 24.188c-2.995.07-5.916.408-8.688 1.03L343.72 56.657l-6.314-4.437-10.094-7.095-4.093 11.625-16.814 47.688-1.22 3.468.033.094c-22.914 35.49-54.143 58.155-88.75 75.094-42.497 20.8-89.883 32.402-131.25 47.094-22.233 7.895-36.518 24.47-42.72 44.28-6.202 19.81-5.122 42.612.594 65.657 11.43 46.09 41.39 93.763 78.625 119.938 37.233 26.174 92.217 38.243 139.468 33.406 23.625-2.42 45.452-9.12 62-21.658 16.547-12.538 27.34-31.594 27.25-55.187-.172-43.895-5.293-92.393-.094-139.406 4.3-38.89 15.366-76.49 41.906-110.47l1.28-1.063 15.75-12.843v90.97c-13.467 4.385-23.325 17.07-23.436 31.905-.512 4.607-.25 9.738 1.03 15.5l.032.124.03.125 22.377 117.31 67.718-22.5-22.874-119.75c-2.23-11.095-7.69-17.16-14.875-20.717-3.383-1.676-7.24-2.71-11.31-3.063V137.625l4.75-3.875 9.56-7.78-10.092-7.095-5.157-3.625 24.376-25.188c0-30.925-48.225-66.712-83.562-65.874zM336.75 74.594l74.594 52.47-1.47 1.186h-.593v.5l-24.342 19.813c-30.565-4.34-48.466-18.5-59.594-41.657l11.406-32.312zm-21.688 52.062c12.428 18.638 30.934 32.057 55.438 38.188-23.95 34.7-34.592 72.706-38.75 110.312-.167 1.512-.32 3.02-.47 4.53-6.62-4.037-16.198-8.078-27.936-11.56-26.956-8-65.25-13.157-107.53-13.157-42.282 0-80.546 5.156-107.5 13.155-11.706 3.473-21.257 7.505-27.876 11.53 4.798-14.994 14.042-25.84 31.03-31.874 40-14.204 88.293-25.884 133.22-47.874 33.82-16.553 65.86-39.264 90.375-73.25zm104.594 134.22c8.455 0 15.094 6.636 15.094 15.093 0 8.453-6.64 15.124-15.094 15.124s-15.125-6.67-15.125-15.125 6.672-15.095 15.126-15.095zM57.062 301.75c.2.144.355.29.563.438 6.575 4.613 17.21 9.406 30.688 13.406 26.955 8 65.22 13.156 107.5 13.156s80.575-5.156 107.53-13.156c10.82-3.21 19.756-6.927 26.282-10.656-.258 7.08-.352 14.132-.344 21.125-6.165 2.74-13.052 5.19-20.624 7.437-29.44 8.737-69.065 13.938-112.844 13.938-43.778 0-83.402-5.2-112.843-13.938-9.018-2.676-17.087-5.64-24.095-9.03-1.346-7.904-1.953-15.534-1.813-22.72z"></path></g><!-- react-empty: 6 --></svg>'); }
        body.homepage .content .introduction .button-blog em.button-image {
          background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="height: 128px; width: 128px;"><path d="M0 0h512v512H0z" fill="#000000" opacity="0"></path><g class="" transform="translate(0,0)" style="touch-action: none;"><path fill="#FFFFFF" d="M367.844 24.188c-2.995.07-5.916.408-8.688 1.03L343.72 56.657l-6.314-4.437-10.094-7.095-4.093 11.625-16.814 47.688-1.22 3.468.033.094c-22.914 35.49-54.143 58.155-88.75 75.094-42.497 20.8-89.883 32.402-131.25 47.094-22.233 7.895-36.518 24.47-42.72 44.28-6.202 19.81-5.122 42.612.594 65.657 11.43 46.09 41.39 93.763 78.625 119.938 37.233 26.174 92.217 38.243 139.468 33.406 23.625-2.42 45.452-9.12 62-21.658 16.547-12.538 27.34-31.594 27.25-55.187-.172-43.895-5.293-92.393-.094-139.406 4.3-38.89 15.366-76.49 41.906-110.47l1.28-1.063 15.75-12.843v90.97c-13.467 4.385-23.325 17.07-23.436 31.905-.512 4.607-.25 9.738 1.03 15.5l.032.124.03.125 22.377 117.31 67.718-22.5-22.874-119.75c-2.23-11.095-7.69-17.16-14.875-20.717-3.383-1.676-7.24-2.71-11.31-3.063V137.625l4.75-3.875 9.56-7.78-10.092-7.095-5.157-3.625 24.376-25.188c0-30.925-48.225-66.712-83.562-65.874zM336.75 74.594l74.594 52.47-1.47 1.186h-.593v.5l-24.342 19.813c-30.565-4.34-48.466-18.5-59.594-41.657l11.406-32.312zm-21.688 52.062c12.428 18.638 30.934 32.057 55.438 38.188-23.95 34.7-34.592 72.706-38.75 110.312-.167 1.512-.32 3.02-.47 4.53-6.62-4.037-16.198-8.078-27.936-11.56-26.956-8-65.25-13.157-107.53-13.157-42.282 0-80.546 5.156-107.5 13.155-11.706 3.473-21.257 7.505-27.876 11.53 4.798-14.994 14.042-25.84 31.03-31.874 40-14.204 88.293-25.884 133.22-47.874 33.82-16.553 65.86-39.264 90.375-73.25zm104.594 134.22c8.455 0 15.094 6.636 15.094 15.093 0 8.453-6.64 15.124-15.094 15.124s-15.125-6.67-15.125-15.125 6.672-15.095 15.126-15.095zM57.062 301.75c.2.144.355.29.563.438 6.575 4.613 17.21 9.406 30.688 13.406 26.955 8 65.22 13.156 107.5 13.156s80.575-5.156 107.53-13.156c10.82-3.21 19.756-6.927 26.282-10.656-.258 7.08-.352 14.132-.344 21.125-6.165 2.74-13.052 5.19-20.624 7.437-29.44 8.737-69.065 13.938-112.844 13.938-43.778 0-83.402-5.2-112.843-13.938-9.018-2.676-17.087-5.64-24.095-9.03-1.346-7.904-1.953-15.534-1.813-22.72z"></path></g><!-- react-empty: 6 --></svg>'); }
    body.homepage .content .sticker-box {
      width: 50%;
      display: table-cell;
      height: 100%;
      vertical-align: middle; } }
  body.homepage .content .my-name-is {
    position: relative;
    margin-top: -100px;
    margin-bottom: 2em; }

body.homepage img.circle-of-alex {
  height: 350px;
  width: 350px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }
  @media only screen and (min-width: 600px) {
    body.homepage img.circle-of-alex {
      height: 500px;
      width: 500px; } }

body.homepage img.logo {
  padding: 1em; }

body.homepage em.smeg {
  height: 20px;
  width: 20px;
  vertical-align: middle;
  display: inline-block;
  color: #803d1c; }
  body.homepage em.smeg.coffee {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="height: 128px; width: 128px;"><path d="M0 0h512v512H0z" fill="#000000" opacity="0"></path><g class="" transform="translate(0,0)" style="touch-action: none;"><path fill="#632a0e" d="M221.97 54.406c-40.375 0-77.013 8.01-104.345 21.563C90.293 89.52 70.937 109.51 70.937 134c0 2.57.213 5.094.626 7.563l-.032 5.875c-.555 82.898 16.25 164.612 14.97 244.718-.372 23.295 14.294 43.908 38 57.594s56.797 21.5 97.125 21.5c40.357 0 71.338-8.024 92.906-22.03 21.57-14.008 33.408-34.712 33.408-56.908 0-3.17.054-6.345.125-9.53 42.143-1.114 75.316-23.45 97.125-52.563 22.235-29.684 34.027-66.306 34.687-99.626.66-33.32-9.983-66.91-39.156-80.594-14.588-6.842-30.593-6.573-49.25-1.125-6.16 1.798-12.548 4.25-19.126 7.375.07-2.93.125-5.86.125-8.75v-6.72c.33-2.214.5-4.484.5-6.78 0-24.49-19.357-44.478-46.69-58.03-27.33-13.554-63.937-21.564-104.31-21.564zm0 18.688c37.87 0 72.087 7.752 96.03 19.625 23.943 11.87 36.28 26.974 36.28 41.28 0 14.306-12.337 29.44-36.28 41.313-23.943 11.87-58.16 19.593-96.03 19.593-37.87 0-72.09-7.722-96.032-19.594-23.943-11.87-36.313-27.006-36.313-41.312 0-14.306 12.37-29.41 36.313-41.28 23.942-11.874 58.16-19.626 96.03-19.626zm-69.657 39.03c-23.19 6.707-37.907 16.684-37.907 27.814 0 20.193 48.398 36.562 108.094 36.562 59.696 0 108.063-16.37 108.063-36.563 0-10.264-12.52-19.546-32.657-26.187 5.266 4.105 8.22 8.692 8.22 13.563 0 17.186-36.765 31.124-82.126 31.124-45.36 0-82.125-13.938-82.125-31.125 0-5.518 3.788-10.693 10.438-15.187zm263.312 68.282c4.34-.023 7.825.793 10.53 2.063 10.826 5.076 18.406 22.81 17.908 48.124-.5 25.313-9.714 55.51-26.844 78.375-16.296 21.75-38.106 36.352-67.126 37.905 4.352-49.843 14.23-100.49 19.28-147.844 20.724-13.842 35.894-18.567 46.25-18.624z"></path></g><!-- react-empty: 6 --></svg>'); }
  body.homepage em.smeg.meeple {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="height: 128px; width: 128px;"><path d="M0 0h512v512H0z" fill="#000000" opacity="0"></path><g class="" transform="translate(0,0)" style="touch-action: none;"><path fill="#ff0000" d="M256 54.99c-27 0-46.418 14.287-57.633 32.23-10.03 16.047-14.203 34.66-15.017 50.962-30.608 15.135-64.515 30.394-91.815 45.994-14.32 8.183-26.805 16.414-36.203 25.26C45.934 218.28 39 228.24 39 239.99c0 5 2.44 9.075 5.19 12.065 2.754 2.99 6.054 5.312 9.812 7.48 7.515 4.336 16.99 7.95 27.412 11.076 15.483 4.646 32.823 8.1 47.9 9.577-14.996 25.84-34.953 49.574-52.447 72.315C56.65 378.785 39 403.99 39 431.99c0 4-.044 7.123.31 10.26.355 3.137 1.256 7.053 4.41 10.156 3.155 3.104 7.017 3.938 10.163 4.28 3.146.345 6.315.304 10.38.304h111.542c8.097 0 14.026.492 20.125-3.43 6.1-3.92 8.324-9.275 12.67-17.275l.088-.16.08-.166s9.723-19.77 21.324-39.388c5.8-9.808 12.097-19.576 17.574-26.498 2.74-3.46 5.304-6.204 7.15-7.754.564-.472.82-.56 1.184-.76.363.2.62.288 1.184.76 1.846 1.55 4.41 4.294 7.15 7.754 5.477 6.922 11.774 16.69 17.574 26.498 11.6 19.618 21.324 39.387 21.324 39.387l.08.165.088.16c4.346 8 6.55 13.323 12.61 17.254 6.058 3.93 11.974 3.45 19.957 3.45H448c4 0 7.12.043 10.244-.304 3.123-.347 6.998-1.21 10.12-4.332 3.12-3.122 3.984-6.997 4.33-10.12.348-3.122.306-6.244.306-10.244 0-28-17.65-53.205-37.867-79.488-17.493-22.74-37.45-46.474-52.447-72.315 15.077-1.478 32.417-4.93 47.9-9.576 10.422-3.125 19.897-6.74 27.412-11.075 3.758-2.168 7.058-4.49 9.81-7.48 2.753-2.99 5.192-7.065 5.192-12.065 0-11.75-6.934-21.71-16.332-30.554-9.398-8.846-21.883-17.077-36.203-25.26-27.3-15.6-61.207-30.86-91.815-45.994-.814-16.3-4.988-34.915-15.017-50.96C302.418 69.276 283 54.99 256 54.99z"></path></g><!-- react-empty: 6 --></svg>'); }
  body.homepage em.smeg.whisky {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="height: 128px; width: 128px;"><path d="M0 0h512v512H0z" fill="#000000" opacity="0"></path><g class="" transform="translate(0,0)" style="touch-action: none;"><path fill="#ae4c05" d="M256.53 27.375c-48.39 0-92.187 5.807-124.655 15.53-16.234 4.863-29.648 10.643-39.688 17.75-10.04 7.11-17.5 16.403-17.5 27.75 0 1.172.097 2.312.25 3.44h-.187l1 10.25 32.875 339.592h.03c.536 9.302 7.122 16.108 15.064 21.22 8.123 5.228 18.688 9.385 31.436 12.937 25.497 7.103 59.68 11.406 97.438 11.406 37.76 0 71.92-4.304 97.437-11.406 12.76-3.55 23.357-7.718 31.5-12.938 7.934-5.085 14.494-11.798 15.158-21.03h.03l39.25-339.595.47-4.093c1.244-3.065 1.937-6.327 1.937-9.78 0-11.35-7.46-20.642-17.5-27.75-10.04-7.11-23.453-12.89-39.688-17.75-32.468-9.725-76.265-15.532-124.656-15.532zm0 18.688c46.88 0 89.348 5.775 119.314 14.75 14.983 4.487 26.83 9.84 34.25 15.093 7.42 5.254 9.594 9.582 9.594 12.5 0 2.918-2.175 7.216-9.594 12.47-7.42 5.252-19.267 10.605-34.25 15.093-29.966 8.973-72.434 14.75-119.313 14.75-46.878 0-89.314-5.777-119.28-14.75-14.983-4.49-26.83-9.842-34.25-15.095-7.42-5.253-9.625-9.55-9.625-12.47 0-2.917 2.206-7.245 9.625-12.5 7.42-5.252 19.267-10.605 34.25-15.093 29.966-8.974 72.402-14.75 119.28-14.75zM96.126 118.75c9.51 5.925 21.563 10.876 35.75 15.125 32.468 9.724 76.265 15.53 124.656 15.53 34.11 0 65.91-2.89 93.095-8l-4 76.25c-25.53-4.724-57.128-7.5-91.344-7.5-68.924 0-127.24 11.32-146.686 26.94L96.124 118.75zm319.03 1.094l-13.624 117.72c-4.28-3.6-10.63-6.96-18.686-10.033l9.187-97.186c8.758-3.123 16.52-6.593 23.126-10.5zm-16.405 141.72l-9.53 82.498c-3.96 9.04-10.745 16.984-19.658 23.813L378.72 271c8.322-2.87 15.116-6.047 20.03-9.438zm-288.78.092c21.506 14.704 78 25.22 144.31 25.22 32.79 0 63.15-2.597 88.095-6.97l-5.5 105.188c-73.98 27.105-197.158 14.24-219.094-42.625l-7.81-80.814z"></path></g><!-- react-empty: 6 --></svg>'); }
  body.homepage em.smeg.baby {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="height: 128px; width: 128px;"><path d="M0 0h512v512H0z" fill="#000000" opacity="0"></path><g class="" transform="translate(0,0)" style="touch-action: none;"><path fill="#e192d8" d="M254.443 49.593c-9.011.085-18 1.243-25.056 3.412-7.057 2.17-11.811 5.395-13.676 8.17-7.133 10.617-9.076 19.519-8.1 27.63.977 8.11 5.102 15.92 12.159 23.443 9.846 10.495 25.39 19.81 42.857 26.955-7.836-14.753-11.888-28.818-10.357-42.717 1.826-16.589 11.956-31.077 29.351-43.768-.63-.174-1.186-.377-1.85-.533-7.244-1.703-16.316-2.676-25.328-2.592zm37.79 17.461c-14.638 10.454-20.887 20.609-22.075 31.4-1.474 13.394 5.377 30.64 20.887 52.175l14.023 19.468c12.6-8.667 25.012-12.72 36.782-12.959a54.52 54.52 0 0 1 5.888.2c15.544 1.368 29.047 8.774 41.418 17.423l-10.312 14.752c-11.223-7.846-21.99-13.307-32.684-14.248-10.693-.94-22.044 2.044-36.463 13.838l-11.394-13.932a102.983 102.983 0 0 1 5.824-4.43l-22.74-6.167c-28.693-7.783-56.841-20.93-74.742-40.012-8.951-9.54-15.368-20.858-16.903-33.607-.569-4.726-.43-9.582.42-14.502C121.752 105.216 73 177.51 73 262.775c0 110.751 82.246 199.637 183 199.637s183-88.886 183-199.637c0-97.123-63.252-177.427-146.768-195.72zM170.15 157.138c13.872.282 28.637 5.837 43.547 18.033l-11.394 13.932c-14.419-11.794-25.77-14.779-36.463-13.838-10.693.941-21.46 6.402-32.684 14.248l-10.312-14.752c12.371-8.649 25.874-16.055 41.418-17.424a54.52 54.52 0 0 1 5.888-.199zm-2.15 40c26.955 0 49 22.045 49 49s-22.045 48.998-49 48.998c-26.386 0-48.053-21.125-48.957-47.3a32.955 32.955 0 0 1 0-3.395c.904-26.175 22.571-47.303 48.957-47.303zm176 0c26.955 0 49 22.045 49 49s-22.045 48.998-49 48.998c-26.386 0-48.053-21.125-48.957-47.3a32.955 32.955 0 0 1 0-3.395c.904-26.175 22.571-47.303 48.957-47.303zm-176 17.998c-1.378 0-2.73.097-4.059.268C176.22 220.226 185 232.224 185 246.138c0 13.914-8.78 25.91-21.059 30.733 1.329.17 2.681.267 4.059.267 17.228 0 31-13.772 31-31s-13.772-31.002-31-31.002zm176 0c-1.378 0-2.73.097-4.059.268C352.22 220.226 361 232.224 361 246.138c0 13.914-8.78 25.91-21.059 30.733 1.329.17 2.681.267 4.059.267 17.228 0 31-13.772 31-31s-13.772-31.002-31-31.002zm-284.746 3.006c-14.197 2.45-23.466 7.41-29.065 13.145-7.967 8.162-9.918 18.531-7.39 30.328 3.681 17.18 18.154 35.225 36.076 43.775A235.517 235.517 0 0 1 55 262.775c0-15.287 1.47-30.215 4.254-44.633zm393.492 0A235.355 235.355 0 0 1 457 262.775c0 14.575-1.339 28.823-3.875 42.615 17.922-8.55 32.395-26.595 36.076-43.775 2.528-11.797.577-22.166-7.39-30.328-5.599-5.735-14.868-10.695-29.065-13.145zM152 231.136c-8.391 0-15 6.61-15 15.002 0 3.263 1.008 6.248 2.723 8.688l23.545-18.65c-2.732-3.099-6.734-5.04-11.268-5.04zm176 0c-8.391 0-15 6.61-15 15.002 0 3.263 1.008 6.248 2.723 8.688l23.545-18.65c-2.732-3.099-6.734-5.04-11.268-5.04zm-98.41 49.95c8 6.34 13.916 10.984 18.228 13.718 4.313 2.735 6.56 3.356 8.182 3.356 1.623 0 3.87-.621 8.182-3.356 4.312-2.734 10.228-7.378 18.228-13.718l11.18 14.103c-8 6.34-14.084 11.208-19.772 14.815-5.687 3.606-11.44 6.154-17.818 6.154-6.377 0-12.13-2.548-17.818-6.154-5.688-3.607-11.772-8.474-19.772-14.815zm-82.393 51.1h217.606l-4.336 12.046s-8.333 23.283-25.164 46.664C318.472 414.277 292.167 439.09 256 439.09c-36.167 0-62.472-24.812-79.303-48.193-16.83-23.38-25.164-46.664-25.164-46.664zM218 350.137v32h32v-32z"></path></g> <!-- react-empty: 6 --> </svg>'); }
  body.homepage em.smeg.boy {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="height: 128px; width: 128px;"><path d="M0 0h512v512H0z" fill="#000000" opacity="0"></path><g class="" transform="translate(0,0)" style="touch-action: none;"><path fill="#2669b1" d="M292.563 65.656v40h85.156l-81.658 82.656-12.937 13.125c-9.054-6.765-18.936-12.412-29.406-16.75-16.478-6.825-34.23-10.343-52.064-10.343-17.835 0-35.553 3.52-52.03 10.344-16.48 6.824-31.514 16.858-44.126 29.468-12.613 12.612-22.643 27.647-29.47 44.125-6.825 16.48-10.373 34.228-10.374 52.064 0 17.836 3.52 35.553 10.344 52.03 6.825 16.48 16.888 31.514 29.5 44.126 12.612 12.612 27.647 22.643 44.125 29.47 16.478 6.824 34.195 10.374 52.03 10.374 17.837 0 35.586-3.55 52.064-10.375 16.477-6.827 31.512-16.857 44.124-29.47 12.61-12.612 22.644-27.647 29.47-44.125 6.823-16.478 10.343-34.196 10.342-52.03 0-17.836-3.518-35.587-10.344-52.064-4.183-10.098-9.583-19.646-16.03-28.436l13.218-13.406 81.844-82.875v85.875h40V65.656H292.562zm-90.907 148.688c12.533 0 25.17 2.516 36.75 7.312 11.58 4.797 22.263 11.95 31.125 20.813 8.863 8.86 16.017 19.545 20.814 31.124 4.796 11.58 7.312 24.217 7.312 36.75 0 12.533-2.517 25.14-7.312 36.72-4.796 11.577-11.92 22.292-20.78 31.155-8.864 8.862-19.578 16.014-31.158 20.81-11.58 4.798-24.216 7.313-36.75 7.314-12.533 0-25.14-2.516-36.72-7.313-11.578-4.795-22.292-11.95-31.155-20.81-8.86-8.864-16.015-19.578-20.81-31.158-4.798-11.58-7.314-24.185-7.314-36.718 0-12.534 2.516-25.17 7.313-36.75l.093-.22c4.796-11.494 11.91-22.13 20.718-30.937 8.808-8.805 19.444-15.892 30.94-20.687l.218-.094c11.58-4.795 24.185-7.313 36.718-7.312z"></path></g> <!-- react-empty: 6 --> </svg>'); }

body.homepage footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #9d0202;
  color: #FFFFFF; }
  @media only screen and (min-width: 1000px) {
    body.homepage footer {
      display: none; } }
  body.homepage footer .button-aboutme {
    background-color: #840202;
    color: #FFFFFF;
    margin: 3px;
    float: left;
    padding: 10px 15px; }
    body.homepage footer .button-aboutme:hover {
      background-color: #FFFFFF;
      color: #840202; }
      body.homepage footer .button-aboutme:hover > .button-image {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="height: 128px; width: 128px;"><path d="M0 0h512v512H0z" fill="#000000" opacity="0"></path><g class="" transform="translate(0,0)" style="touch-action: none;"><path fill="#FFFFFF" d="M50 96c-9.972 0-18 8.028-18 18v300c0 9.972 8.028 18 18 18h412c9.972 0 18-8.028 18-18V114c0-9.972-8.028-18-18-18H50zm5 23h402v18H55v-18zm0 32h210v258H55V151zm18 18v222h7.03c.47-24.342 18.315-74.172 47.093-97.889C136.331 300.56 147.615 305 160 305c12.385 0 23.669-4.44 32.877-11.889C221.655 316.828 239.5 366.658 239.97 391H247V169H73zm222 14h146v18H295v-18zm-135 10c20.835 0 39 20.241 39 47s-18.165 47-39 47-39-20.241-39-47 18.165-47 39-47zm135 22h114v18H295v-18zm0 32h50v18h-50v-18zm80 0h66v18h-66v-18zm-16 96h98v18h-98v-18zm-32 32h130v18H327v-18z"></path></g> <!-- react-empty: 6 --> </svg>'); }
    body.homepage footer .button-aboutme em.button-image {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="height: 128px; width: 128px;"><path d="M0 0h512v512H0z" fill="#000000" opacity="0"></path><g class="" transform="translate(0,0)" style="touch-action: none;"><path fill="#FFFFFF" d="M50 96c-9.972 0-18 8.028-18 18v300c0 9.972 8.028 18 18 18h412c9.972 0 18-8.028 18-18V114c0-9.972-8.028-18-18-18H50zm5 23h402v18H55v-18zm0 32h210v258H55V151zm18 18v222h7.03c.47-24.342 18.315-74.172 47.093-97.889C136.331 300.56 147.615 305 160 305c12.385 0 23.669-4.44 32.877-11.889C221.655 316.828 239.5 366.658 239.97 391H247V169H73zm222 14h146v18H295v-18zm-135 10c20.835 0 39 20.241 39 47s-18.165 47-39 47-39-20.241-39-47 18.165-47 39-47zm135 22h114v18H295v-18zm0 32h50v18h-50v-18zm80 0h66v18h-66v-18zm-16 96h98v18h-98v-18zm-32 32h130v18H327v-18z"></path></g> <!-- react-empty: 6 --> </svg>'); }
  body.homepage footer .button-blog {
    background-color: #840202;
    color: #FFFFFF;
    margin: 3px;
    float: right;
    padding: 10px 15px; }
    body.homepage footer .button-blog:hover {
      background-color: #FFFFFF;
      color: #840202; }
      body.homepage footer .button-blog:hover > .button-image {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="height: 128px; width: 128px;"><path d="M0 0h512v512H0z" fill="#000000" opacity="0"></path><g class="" transform="translate(0,0)" style="touch-action: none;"><path fill="#FFFFFF" d="M367.844 24.188c-2.995.07-5.916.408-8.688 1.03L343.72 56.657l-6.314-4.437-10.094-7.095-4.093 11.625-16.814 47.688-1.22 3.468.033.094c-22.914 35.49-54.143 58.155-88.75 75.094-42.497 20.8-89.883 32.402-131.25 47.094-22.233 7.895-36.518 24.47-42.72 44.28-6.202 19.81-5.122 42.612.594 65.657 11.43 46.09 41.39 93.763 78.625 119.938 37.233 26.174 92.217 38.243 139.468 33.406 23.625-2.42 45.452-9.12 62-21.658 16.547-12.538 27.34-31.594 27.25-55.187-.172-43.895-5.293-92.393-.094-139.406 4.3-38.89 15.366-76.49 41.906-110.47l1.28-1.063 15.75-12.843v90.97c-13.467 4.385-23.325 17.07-23.436 31.905-.512 4.607-.25 9.738 1.03 15.5l.032.124.03.125 22.377 117.31 67.718-22.5-22.874-119.75c-2.23-11.095-7.69-17.16-14.875-20.717-3.383-1.676-7.24-2.71-11.31-3.063V137.625l4.75-3.875 9.56-7.78-10.092-7.095-5.157-3.625 24.376-25.188c0-30.925-48.225-66.712-83.562-65.874zM336.75 74.594l74.594 52.47-1.47 1.186h-.593v.5l-24.342 19.813c-30.565-4.34-48.466-18.5-59.594-41.657l11.406-32.312zm-21.688 52.062c12.428 18.638 30.934 32.057 55.438 38.188-23.95 34.7-34.592 72.706-38.75 110.312-.167 1.512-.32 3.02-.47 4.53-6.62-4.037-16.198-8.078-27.936-11.56-26.956-8-65.25-13.157-107.53-13.157-42.282 0-80.546 5.156-107.5 13.155-11.706 3.473-21.257 7.505-27.876 11.53 4.798-14.994 14.042-25.84 31.03-31.874 40-14.204 88.293-25.884 133.22-47.874 33.82-16.553 65.86-39.264 90.375-73.25zm104.594 134.22c8.455 0 15.094 6.636 15.094 15.093 0 8.453-6.64 15.124-15.094 15.124s-15.125-6.67-15.125-15.125 6.672-15.095 15.126-15.095zM57.062 301.75c.2.144.355.29.563.438 6.575 4.613 17.21 9.406 30.688 13.406 26.955 8 65.22 13.156 107.5 13.156s80.575-5.156 107.53-13.156c10.82-3.21 19.756-6.927 26.282-10.656-.258 7.08-.352 14.132-.344 21.125-6.165 2.74-13.052 5.19-20.624 7.437-29.44 8.737-69.065 13.938-112.844 13.938-43.778 0-83.402-5.2-112.843-13.938-9.018-2.676-17.087-5.64-24.095-9.03-1.346-7.904-1.953-15.534-1.813-22.72z"></path></g><!-- react-empty: 6 --></svg>'); }
    body.homepage footer .button-blog em.button-image {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="height: 128px; width: 128px;"><path d="M0 0h512v512H0z" fill="#000000" opacity="0"></path><g class="" transform="translate(0,0)" style="touch-action: none;"><path fill="#FFFFFF" d="M367.844 24.188c-2.995.07-5.916.408-8.688 1.03L343.72 56.657l-6.314-4.437-10.094-7.095-4.093 11.625-16.814 47.688-1.22 3.468.033.094c-22.914 35.49-54.143 58.155-88.75 75.094-42.497 20.8-89.883 32.402-131.25 47.094-22.233 7.895-36.518 24.47-42.72 44.28-6.202 19.81-5.122 42.612.594 65.657 11.43 46.09 41.39 93.763 78.625 119.938 37.233 26.174 92.217 38.243 139.468 33.406 23.625-2.42 45.452-9.12 62-21.658 16.547-12.538 27.34-31.594 27.25-55.187-.172-43.895-5.293-92.393-.094-139.406 4.3-38.89 15.366-76.49 41.906-110.47l1.28-1.063 15.75-12.843v90.97c-13.467 4.385-23.325 17.07-23.436 31.905-.512 4.607-.25 9.738 1.03 15.5l.032.124.03.125 22.377 117.31 67.718-22.5-22.874-119.75c-2.23-11.095-7.69-17.16-14.875-20.717-3.383-1.676-7.24-2.71-11.31-3.063V137.625l4.75-3.875 9.56-7.78-10.092-7.095-5.157-3.625 24.376-25.188c0-30.925-48.225-66.712-83.562-65.874zM336.75 74.594l74.594 52.47-1.47 1.186h-.593v.5l-24.342 19.813c-30.565-4.34-48.466-18.5-59.594-41.657l11.406-32.312zm-21.688 52.062c12.428 18.638 30.934 32.057 55.438 38.188-23.95 34.7-34.592 72.706-38.75 110.312-.167 1.512-.32 3.02-.47 4.53-6.62-4.037-16.198-8.078-27.936-11.56-26.956-8-65.25-13.157-107.53-13.157-42.282 0-80.546 5.156-107.5 13.155-11.706 3.473-21.257 7.505-27.876 11.53 4.798-14.994 14.042-25.84 31.03-31.874 40-14.204 88.293-25.884 133.22-47.874 33.82-16.553 65.86-39.264 90.375-73.25zm104.594 134.22c8.455 0 15.094 6.636 15.094 15.093 0 8.453-6.64 15.124-15.094 15.124s-15.125-6.67-15.125-15.125 6.672-15.095 15.126-15.095zM57.062 301.75c.2.144.355.29.563.438 6.575 4.613 17.21 9.406 30.688 13.406 26.955 8 65.22 13.156 107.5 13.156s80.575-5.156 107.53-13.156c10.82-3.21 19.756-6.927 26.282-10.656-.258 7.08-.352 14.132-.344 21.125-6.165 2.74-13.052 5.19-20.624 7.437-29.44 8.737-69.065 13.938-112.844 13.938-43.778 0-83.402-5.2-112.843-13.938-9.018-2.676-17.087-5.64-24.095-9.03-1.346-7.904-1.953-15.534-1.813-22.72z"></path></g><!-- react-empty: 6 --></svg>'); }

body.aboutme header {
  text-align: center;
  padding: 3em;
  font-size: 1.4em; }
  body.aboutme header h1 {
    color: #9d0202;
    font-size: 30pt;
    padding-bottom: 0.3em; }
  body.aboutme header p {
    margin: 1em; }

body.aboutme .headline-section {
  background-color: #9d0202;
  color: #FFFFFF;
  text-align: center;
  padding: 2em;
  font-size: 1.4em; }
  body.aboutme .headline-section p {
    margin: 1em; }
  body.aboutme .headline-section em {
    height: 100px;
    font-size: 2em;
    padding: 0 0.1em;
    color: #FFFFFF; }

body.aboutme .secondary-section {
  text-align: center;
  padding: 2em;
  font-size: 1.4em; }

body.aboutme .language-list {
  padding: 0.5em; }
  body.aboutme .language-list span {
    display: inline-block;
    background-color: #cbcbcb;
    padding: 0.5em 1em;
    margin-top: 5px; }
    body.aboutme .language-list span:hover {
      background-color: #9d0202;
      color: #FFFFFF; }

.parallax {
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .parallax.on-the-rocks {
    background-image: url("/images/whisky-on-the-rocks.jpg"); }
  .parallax.northern-lights {
    background-image: url("/images/northern-lights.jpg"); }

pre code {
  font: normal 10pt Consolas, Monaco, monospace; }

body.blog div.logo-box {
  padding-top: 1.5em;
  padding-bottom: 0.5em;
  margin-left: 40px;
  margin-right: 40px; }
  @media only screen and (min-width: 1000px) {
    body.blog div.logo-box {
      margin-left: 100px;
      margin-right: 100px; } }

body.blog header {
  position: relative;
  background-color: #9d0202;
  padding: 2em 2em 2em 240px;
  margin: 1em 0;
  color: #FFFFFF; }
  body.blog header .main-image img {
    position: absolute;
    left: 0;
    top: 0px;
    height: 100%;
    width: 200px; }
  body.blog header h2 {
    font-size: 24pt;
    margin-bottom: 5px; }
  @media only screen and (min-width: 1000px) {
    body.blog header {
      padding: 3em 3em 3em 250px; } }
  @media only screen and (max-width: 600px) {
    body.blog header {
      padding-left: 2em; }
      body.blog header .main-image img {
        display: none; } }
  body.blog header ul.tag-list {
    margin-top: 10px;
    font-size: smaller; }
    body.blog header ul.tag-list li {
      display: inline-block;
      background-color: #840202;
      padding: 5px 10px; }

body.blog footer {
  background-color: #cbcbcb;
  padding: 2em 100px;
  margin-top: 2em;
  text-align: center;
  clear: both; }

body.blog.blog-index header {
  padding-left: 20px; }

body.blog.blog-index div.content {
  height: 100%;
  display: table;
  padding-left: 20px;
  padding-right: 20px; }

@media only screen and (max-width: 600px) {
  body.blog.blog-index div.twitter-feed {
    display: none; } }

@media only screen and (min-width: 1000px) {
  body.blog.blog-index header {
    padding-left: 100px; }
  body.blog.blog-index div.content {
    padding-left: 100px; }
  body.blog.blog-index div.twitter-feed {
    display: table-cell;
    width: 500px;
    height: 100%;
    margin-left: 20px; } }

body.blog ul#content-list {
  height: 100%;
  vertical-align: top;
  display: table-cell;
  width: 70%;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em; }
  body.blog ul#content-list h2 {
    font-size: 14pt; }
  body.blog ul#content-list li.article {
    list-style: none;
    margin-bottom: 0.5em;
    font-size: 13pt; }
    body.blog ul#content-list li.article .date {
      padding-top: 0.2em;
      color: #666666;
      font-size: smaller; }
    body.blog ul#content-list li.article .description {
      padding: 0.5em 0; }

body.blog article {
  padding-top: 1em;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 1.35em; }
  @media only screen and (min-width: 1000px) {
    body.blog article {
      margin-left: 100px;
      margin-right: 100px; } }
  body.blog article p {
    margin-bottom: 1em; }
  body.blog article pre {
    margin-top: 1em;
    margin-bottom: 1em; }
  body.blog article li {
    margin-bottom: 1em; }
  body.blog article ul {
    margin-left: 2em; }
  body.blog article blockquote {
    border-left: 10px solid #9d0202;
    background-color: #fffbfb;
    padding: 1em; }

* {
  padding: 0;
  margin: 0; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #E4E4E4;
  color: #000000;
  font-family: 'Raleway', sans-serif; }

a,
a:hover,
a:visited,
a:active {
  color: #9d0202;
  font-weight: bolder; }

