/* Homepage specific styles */
body.homepage .content {
  margin-bottom: 100px; }
  body.homepage .content .introduction .buttons {
    display: none; }

body.homepage img.circle-of-alex {
  height: 500px;
  width: 500px; }

