@{
    Layout = "_BaseLayout";
    ViewBag.BodyClasses = "blog";
}

<div><a asp-controller="Home"><img src="/images/logo.png?o1n3rgpoxl09291243" alt="Amadiere.com" class="logo" /></a></div>
<div class="content">
    @RenderBody()
</div>

@section BottomOfHead
{
    @RenderSection("BottomOfHead", required: false)
}

@section Scripts
{
    @RenderSection("Scripts", required: false)
}
