@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
    ViewBag.BodyClasses = "error";
}

<div><a asp-controller="Home"><img src="/images/logo.png?o1n3rgpoxl09291243" alt="Amadiere.com" class="logo" /></a></div>
<div class="content">
    @RenderBody()
</div>

<div class="buttons">
    <a href="/blog" class="button-blog">
        <em class="button-image"></em>
        Return to my blog &gt;
    </a>
</div>


@section BottomOfHead
{
    @RenderSection("BottomOfHead", required: false)
}

@section Scripts
{
    @RenderSection("Scripts", required: false)
}
