@{
    Layout = "_BaseLayout";
    ViewBag.BodyClasses = "homepage";
}

<div class="content">
    @RenderBody()
</div>

<footer>
    
    <a href="/aboutme" class="button-aboutme">
        <i class="fa-solid fa-alien-8bit"></i>
        About me
    </a>

    <a href="/blog" class="button-blog">
        <i class="fa-brands fa-microblog"></i>
        Read my blog &gt;
    </a>

</footer>

@section BottomOfHead
{
    @RenderSection("BottomOfHead", required: false)
}

@section Scripts
{
    @RenderSection("Scripts", required: false)
}
