@{
    Layout = "_BaseLayout";
}
<header>
    <img src="/images/logo.png" alt="Amadiere.com" class="logo" />
</header>
<div id="homepage">
    @RenderBody()
</div>
<footer>
    
</footer>

@section BottomOfHead
{
    @RenderSection("BottomOfHead", required: false)
}

@section Scripts
{
    @RenderSection("Scripts", required: false)
}
