@{
    ViewData["Title"] = "About Me";
    Layout = "~/Views/Shared/Layouts/_ContentLayout.cshtml";
    ViewData["Description"] = "Alex Holt. That's me. Lots of little bits of information about me. Who knew?";
    ViewData["Canonical"] = Url.Action("Index");
}

@section BottomOfHead {
}

<header>
    <h1>About Alex</h1>
    <p>I'm Alex. I'm from Ashton-under-Lyne but now live in Huddersfield, UK. I enjoy coding, board games, drinking whisk(e)y and spending time with my wife, two boys and dog.</p>

</header>

<div class="headline-section">
    <p>I'm in the tubes of the internets!</p>
    <a href="https://twitter.com/amadiere" target="_blank" title="Twitter"><i class="fa-brands fa-twitter"></i></a>
    <a href="https://stackoverflow.com/users/7828/amadiere" target="_blank" title="Stack Overflow"><i class="fa-brands fa-stack-overflow"></i></a>
    <a href="https://github.com/amadiere" target="_blank"><i class="fa-brands fa-github"></i></a>
    <a href="https://www.linkedin.com/in/alex-holt-5b2729aa/" target="_blank" title="LinkedIn"><i class="fa-brands fa-linkedin"></i></a>

    <p>Or continue scrolling for a little bit more about me...</p>
</div>

<div class="parallax on-the-rocks"></div>

<div class="headline-section">
    <p>
        <strong>I enjoy coding</strong>. From the large system architecture & planning, all the way down to problem solving. There is something about the Eureka moment that
        is intoxicating. I feel that with programming, I'll never stop learning, as there is always an area I know nothing about. That's what makes it so special!
    </p>
    <p>
        I'm a tech and team lead with an informal approach to management, while still being the buck-stops-here and capable of offering technical direction where needed.
    </p>
</div>

<div class="secondary-section">
    <p>I'm a .NET focused software engineer and architect...</p>
    <div class="language-list">
        <span>.NET 6.0</span>
        <span>.NET Framework</span>
        <span>C#</span>
        <span>Microsoft Azure</span>
        <span>ASP.NET MVC</span>
        <span>ASP.NET Web API</span>
        <span>LINQ</span>
        <span>Entity Framework</span>
        <span>Optimizly (formerly EPiServer CMS)</span>
        <span>Azure Service Bus</span>
        <span>MSMQ</span>
        <span>MassTransit</span>
        <span>NUnit / XUnit / MSTest</span>
        <span>Moq</span>
        <span>Logging Frameworks</span>
        <span>T-SQL</span>
    </div>
    <p>... with a strong background in web development...</p>
    <div class="language-list">
        <span>HTML5 & XHTML</span>
        <span>TypeScript</span>
        <span>JavaScript</span>
        <span>CSS</span>
        <span>SASS & LESS</span>
        <span>Angular</span>
        <span>Bootstrap</span>
        <span>JQuery</span>
        <span>Jasmine</span>
        <span>Google Tag Manager</span>
        <span>Performance Optimisation</span>
        <span>Lighthouse</span>
    </div>
    <p>... and plenty of DevOps...</p>
    <div class="language-list">
        <span>Azure App Services</span>
        <span>IIS</span>
        <span>Git</span>
        <span>Octopus Deploy</span>
        <span>Azure DevOps</span>
        <span>CI/CD Pipelines</span>
        <span>NuGet</span>
        <span>NewRelic</span>
        <span>Microsoft Teams</span>
    </div>
    <p>... and the architectural and softer skills ...</p>
    <div class="language-list">
        <span>SOLID Principles</span>
        <span>TDD / Unit Testing</span>
        <span>Managing CI/CD</span>
        <span>Team Leading</span>
        <span>Pragmatic Problem Solver</span>
        <span>CI/CD Pipelines</span>
        <span>Event-driven Architecture</span>
        <span>Comfortable with CLI</span>
    </div>
</div>

<div class="parallax northern-lights"></div>

<div class="headline-section">
    I'm a big fan of board & card games. I love playing social deduction games such as <strong>One Night Werewolf</strong>, as well as the more in-depth, 
    strategy-heavy ones such as <strong>Wingspan</strong>, <strong>Letters from Whitechapel</strong> and <strong>Through The Ages: Civilization</strong>.
</div>

<div class="secondary-section">
    As also mentioned, when not at work drinking coffee and teas, I love Whisky.
    I love a wide range of whisky, from the smooth Irish like Jamesons - to the heavy punch-you-in-the-face scotches like Ardbeg, Lagavulin and Laphroaig.
</div>

<div class="secondary-section">
    <h2>OK - Enough about me now.</h2>
    <p>If you want to contact me, then you can do so by any of the social media links at the top, or by emailing me <strong>amadi<span>ere@@</span>amadiere.com</strong>.</p>
    
    <p><a href="/blog" class="button">Continue onto the Blog</a></p>
</div>