.button {
    @include rounded(5px);
    text-decoration: none;
    display: inline-block;
    padding: 0.2em 0.5em;
    margin: 0;
    font-size: 1.2em;
    font-weight: normal;
}

em.button-image-base {
    height: 30px;
    width: 30px;
    vertical-align: middle;
    display: inline-block;
}


@mixin call-to-action($bg-color, $font-color, $image) {
    @extend .button;
    background-color: $bg-color;
    color: $font-color;

    &:hover {
        background-color: $font-color;
        color: $bg-color;

        > .button-image {
            $icon-color: $bg-color;
            background-image: url($image);
        }
    }

    em.button-image {
        @extend em.button-image-base;
        $icon-color: $font-color;
        background-image: url($image);
    }
}
