@model Amadiere.Website.ViewModels.Blog.IndexViewModel
@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
    ViewBag.BodyClasses = "blog blog-index";
}

<div class="logo-box">
    <a href="~/"><img src="/images/logo.png" alt="Amadiere.com" class="logo" /></a>
</div>
<header>
    <h2>Amadiere's Blog</h2>
    <div>Content produced by me, Alex Holt. My opinions are my own.</div>
</header>

<article>
    @Html.Partial($"Articles/{Model.Articles.First().Year}/{Model.Articles.First().ViewName}")
</article>

<nav>
    <ul id="content-list">
        <li class="article"><h2>Most recent Amadiere.com posts</h2></li>
        @foreach (var article in Model.Articles)
        {
            <li class="article">@Html.Partial("_ArticleListItem", article)</li>
        }
    </ul>
</nav>

<footer>
    Thanks for reading this blog!
</footer>

@section BottomOfHead
{
    <link rel="stylesheet" href="/css/highlight/github.css" />
    <script type="text/javascript" src="/js/highlight.min.js"></script>
    <script type="text/javascript">
        hljs.initHighlightingOnLoad();
    </script>
}
