@model Amadiere.Website.ViewModels.Blog.IndexViewModel
@{
    ViewData["Title"] = "Blog";
    ViewData["Description"] = "Amadiere.com by Alex Holt - A coding blog with a particular focus on .NET and Web Development";
    ViewData["Canonical"] = Url.Action("Index", "Blog");
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
    ViewBag.BodyClasses = "blog blog-index";
}

<div class="logo-box">
    <a href="~/"><img src="/images/logo.png" alt="Amadiere.com" class="logo" /></a>
</div>
<header>
    <h2>Coding Blog</h2>
    <div>Content produced by me, Alex Holt. My opinions are my own.</div>
</header>

<div class="content">
    <ul id="content-list">
        <li class="article title"><h2>Most recent Amadiere.com posts</h2></li>
        @foreach (var article in Model.Articles)
        {
            <li class="article"><partial name="_ArticleListItem" model="article"></partial></li>
        }
    </ul>
    
    <div class="twitter-feed">
        <a class="twitter-timeline" data-width="500" data-height="1000" data-theme="dark" data-link-color="#2B7BB9" href="https://twitter.com/Amadiere">Tweets by Amadiere</a>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>

<footer>
    <p>Looking for an older post? Try browsing my <a asp-controller="Blog" asp-action="All">full list of Amadiere.com blog posts</a>.</p>
    Amadiere.com
</footer>

@section BottomOfHead
{
    <link rel="stylesheet" href="/css/highlight/github.css" />
    <script type="text/javascript" src="/js/highlight.min.js"></script>
    <script type="text/javascript">
        hljs.initHighlightingOnLoad();
    </script>
}
