@{
    Layout = "Layouts/_HomepageLayout";
    ViewData["Title"] = "Welcome to Amadiere.com!";
    ViewData["Description"] = "Amadiere.com by Alex Holt - A personal website for a Software Developer and geek from Manchester, UK";
    ViewData["Canonical"] = Url.Action("Index");
}

<div class="sticker-box">
    <div><img src="/images/logo.png?o1n3rgpoxl09291243" alt="Amadiere.com" class="logo" /></div>
    <img src="/images/alex-tsuki.jpg?o1n3rgpoxl09291243" alt="The coolest." class="circle-of-alex"/>

    <div class="my-name-is">
        <div class="top">
            <div class="hello">Hello</div>
            <div>my name is</div>
        </div>
        <div class="written-area">
            Alex
        </div>
        <div class="bottom">
            &nbsp;
        </div>
    </div>
</div>

<div class="introduction">
    <div>I'm from Huddersfield, England and I'm a: </div>
    <ul>
        <li><i class="fa-solid fa-mug-hot"></i> Software Developer</li>
        <li><i class="fa-solid fa-dice"></i> Board Gamer</li>
        <li><i class="fa-solid fa-whiskey-glass"></i> Whisky Drinker</li>
        <li><i class="fa-solid fa-child"></i> Dad of Two</li>
        <li><i class="fa-solid fa-dog"></i> Dog owner</li>
    </ul>
    <div>Should you so wish, you can also follow me on Twitter <a href="https://twitter.com/amadiere">@@Amadiere</a></div>

    <div class="buttons">
        <a href="/aboutme" class="button-aboutme">
            <i class="fa-solid fa-address-card"></i>
            About me
        </a>
        <a href="/blog" class="button-blog">
            <i class="fa-brands fa-microblog"></i>
            Read my blog &gt;
        </a>
    </div>

</div>