@{
    Layout = "Layouts/_HomepageLayout";
    ViewData["Title"] = "Home Page";
}

@section BottomOfHead
{
    <link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Rock+Salt|Shadows+Into+Light" rel="stylesheet">
}
<img src="/images/cool-alex.jpg" alt="The coolest." class="circle-of-alex" />

<div class="my-name-is">
    <div class="top">
        <div class="hello">Hello</div>
        <div>my name is</div>
    </div>
    <div class="written-area">
        Alex
    </div>
    <div class="bottom">
        &nbsp;
    </div>
</div>

<div class="introduction">
    <div>I'm from Manchester, England and I'm a: </div>
    <ul>
        <li><em class="smeg coffee"></em> Software Developer</li>
        <li><em class="smeg meeple"></em> Board Gamer</li>
        <li><em class="smeg whisky"></em> Whisky Drinker</li>
        <li><em class="smeg boy"></em> Dad of Two</li>
    </ul>
    <div>If you've made it this far, as little as it is,<br /> you have a few choices now:<br />&nbsp;</div>
</div>