@{
    Layout = "Layouts/_HomepageLayout";
    ViewData["Title"] = "Welcome to Amadiere.com!";
}

<div class="sticker-box">
    <div><img src="/images/logo.png" alt="Amadiere.com" class="logo" /></div>
    <img src="/images/cool-alex.jpg" alt="The coolest." class="circle-of-alex"/>

    <div class="my-name-is">
        <div class="top">
            <div class="hello">Hello</div>
            <div>my name is</div>
        </div>
        <div class="written-area">
            Alex
        </div>
        <div class="bottom">
            &nbsp;
        </div>
    </div>
</div>

<div class="introduction">
    <div>I'm from Manchester, England and I'm a: </div>
    <ul>
        <li><em class="smeg coffee"></em> Software Developer</li>
        <li><em class="smeg meeple"></em> Board Gamer</li>
        <li><em class="smeg whisky"></em> Whisky Drinker</li>
        <li><em class="smeg boy"></em> Dad of Two</li>
    </ul>
    <div>Should you so wish, you can also follow me on Twitter <a href="https://twitter.com/amadiere">@@Amadiere</a></div>

    <div class="buttons">
        <a href="/aboutme" class="button-aboutme">
            <em class="button-image"></em>
            About me
        </a>
        <a href="/blog" class="button-blog">
            <em class="button-image"></em>
            Read my blog &gt;
        </a>
    </div>

</div>